<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Loence ERP- a modern and easy to implement ERP software solution in Bangladesh</title>
    <meta name="description" content="Loence ERP is a customizable modern ERP built with cutting edge technology and sophisticated design. We provide ERP consultancy, software, training and support to trading, manufacturing and service businesses of all size.
         We share the step by step journey from planning to implementation of a modern ERP in Bangladesh with you. With facilitate all this at a significantly lower cost than our international competitors.">
    <link rel="stylesheet" href="/assets/css/et-line-icons.css"/>
    <link rel="stylesheet" href="/assets/css/menu-hamburger.css"/>
    <% include ./header.partial.ejs %>
</head>
<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.partial.ejs %>
<!-- section text -->

<section class="bg-gray" style="margin-top: 80px; padding: 60px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 xs-margin-bottom-four">
                <span class="owl-subtitle">Loence Solution</span>
                <span class="owl-title" style="line-height: 35px;font-size: 25px; font-weight: 600; display: block; letter-spacing: 4px;">Be <i>Lo</i>gical Keep Pati<i>ence</i></span>
            </div>
            <!-- end section title -->
            <!-- section highlight text -->
            <div class="col-md-4 col-sm-4 text-right xs-text-left">
                <img alt="" class="get-bg xs-display-none" style="padding-top: 12%;" src="/assets/images/homeerp2.png" />
            </div>


        </div>
    </div>
</section>

<section class="padding-one hback1">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-6 col-sm-6">
                <span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Our Story</span>
            </div>
            <!-- end section title -->
            <!-- section highlight text -->
            <div class="col-md-6 col-sm-6 text-right xs-text-left">
            </div>
            <!-- end section highlight text -->
        </div>
    </div>
</section>
<section class="bg-black wow fadeIn" style="padding: 80px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="about-year text-uppercase white-text">
                    <span class="clearfix">3</span> Years</div>
                <p class="title-small white-text font-weight-100" style="letter-spacing: 2px !important; font-size: 14px !important; line-height: 28px !important; text-align: justify;">
                    History of Loence dates back to July, 2016 when a group of BSSE-5th batch students from IIT,DU, decided
                    to develop a generalized management system as their final semester project. Realizing the need of
                    high-quality:low-cost ERP solution to the numerous emerging businesses in Bangladesh, they started
                    developing an Enterprise Resource Planning System after their graduation. In the mean time the team
                    welcomed talented graduates as well as experienced IT professionals from reputed universities and organizations
                    making themselves competent to handle the unique technical and marketing challenges
                    implementation of an ERP in Bangladesh poses. On September, 2018 Loence delivered their first Cloud ERP to
                    <a style="color: yellowgreen;" href="https://amanplastic.com" target="_blank">Aman Plastic Industries
                    </a>. Loence delivered their second Cloud ERP to <a style="color: greenyellow;" href="https://zihanplastic.com" target="_blank">Zihan Plastic</a>.
                    The team continues to grow, attracting ambitious and determined talents from versatile backgrounds.</p>
            </div>
        </div>
    </div>
</section>
<section class="padding-one hback1">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-6 col-sm-6">
                <span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Our Mission</span>
            </div>
            <!-- end section title -->
            <!-- section highlight text -->
            <div class="col-md-6 col-sm-6 text-right xs-text-left">
            </div>
            <!-- end section highlight text -->
        </div>
    </div>
</section>
<section class=" wow fadeIn" style="padding: 20px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <ul class="text-large margin-five" style="font-size: 15px !important; text-align: left;">
                    <li>
                        To provide free ERP consultancy.
                    </li>
                    <li>
                        To develop and distribute modern ERPs to small, medium and large organizations at low cost.
                    </li>
                    <li>
                        To provide 24/7 support and service to ERP users.
                    </li>
                    <li>
                        To promote use of information technology in life and business.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="padding-one hback1">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-6 col-sm-6">
                <span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Our Vision</span>
            </div>
            <!-- end section title -->
            <!-- section highlight text -->
            <div class="col-md-6 col-sm-6 text-right xs-text-left">
            </div>
            <!-- end section highlight text -->
        </div>
    </div>
</section>
<section class=" wow fadeIn" style="padding: 20px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <ul class="text-large margin-five" style="font-size: 15px !important; text-align: left;">
                    <li>
                        To facilitate the easiest way to implement modern ERP in Bangladesh
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include footer.partial.ejs %>
</body>
</html>