<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Loence ERP- a modern and easy to implement ERP software solution in Bangladesh</title>
    <meta name="description" content="Loence ERP is a customizable modern ERP built with cutting edge technology and sophisticated design. We provide ERP consultancy, software, training and support to trading, manufacturing and service businesses of all size.
         We share the step by step journey from planning to implementation of a modern ERP in Bangladesh with you. With facilitate all this at a significantly lower cost than our international competitors.">
    <% include ./header.partial.ejs %>
</head>
<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.partial.ejs %>
<!-- section text -->

<section class="full-screen cover-background" style="background-image:url('/assets/images/');">
    <div class="container-fluid full-screen position-relative no-padding">
        <div class="opacity-light gradient-overlay"></div>
        <div class="video-wrapper full-screen-width">
            <video autoplay muted loop class="html-video" preload="auto" poster="assets/images/">
                <source type="video/mp4" src="/assets/video/video.mp4">
                <source type="video/ogg" src="/assets/video/video.ogg">
                <source type="video/webm" src="/assets/video/video.webm">
            </video>
        </div>
        <div class="slider-typography xs-position-inherit">
            <div class="slider-text-middle-main">
                <div class="slider-text-top slider-text-middle2">
                    <div class="coming-soon-logo">
                        <img class="logo-style-3" src="assets/images/logo/logofooter.PNG" alt="" />
                    </div>
                    <span class="coming-soon-title white-text">We're getting ready to launch our Blog</span>
                </div>
            </div>
        </div>
        <div class="notify-me-main bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                            <span class="notify-me-text">
                                <strong class="black-text">Our Blog is under construction.</strong>
                                <br>We'll be here soon with our new awesome blog, subscribe to be notified.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-center center-col">
                        <form id="notifymeform" action="javascript:void(0)" method="post">
                            <div id="success" class="no-margin-lr"></div>
                            <input type="text" placeholder="Enter your email address" name="email" id="email" class="form-control email-add">
                            <button name="notifyme-button" id="notifyme-button" class="btn btn-black btn-small no-margin">
                                <span>Get Notified</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center margin-two no-margin-bottom footer-social">
                        <a target="_blank" href="https://www.facebook.com/">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a target="_blank" href="https://twitter.com/">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://plus.google.com/">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a target="_blank" href="https://dribbble.com/">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include footer.partial.ejs %>
</body>
</html>