<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Loence ERP- a modern and easy to implement ERP software solution in Bangladesh</title>
    <meta name="description" content="Loence ERP is a customizable modern ERP built with cutting edge technology and sophisticated design. We provide ERP consultancy, software, training and support to trading, manufacturing and service businesses of all size.
         We share the step by step journey from planning to implementation of a modern ERP in Bangladesh with you. With facilitate all this at a significantly lower cost than our international competitors.">
    <% include ./header.partial.ejs %>
</head>
<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.partial.ejs %>
<!-- section text -->

<!-- content section -->
<section class="parallax8 parallax-fix no-padding parallax-gray-bg wow fadeIn sm-bg-yellow" style="margin-top: 134px;">
    <img class="parallax-background-img" src="/assets/images/career3.jpg" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 pull-right sm-no-padding">
                <div class="bg-yellow padding-seven">
                    <div class="padding-seven xs-no-padding-left-right">
                        <h1 class="white-text">We love what we do,<br> it's a way of life.</h1>
                        <p class="text-large black-text margin-five">Real challenge is scary, but we are not afraid.</p>
                        <p class="text-med black-text margin-five">
                            We are searching for talented people who like to take big challenges like us. Do you think you can make our team stronger?
                            Then you are most welcome. Find a suitable one from the positions given below.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wow fadeIn xs-no-padding-bottom">
    <div class="container">
        <div class="row">
            <!-- left part -->
            <div class="col-md-12 col-sm-12">
                <!-- jobs opening position -->
                <div class="clearfix">
                    <div class="col-md-4 col-sm-4 no-padding-left position-relative">
                        <h2 class="font-weight-600 margin-0">01</h2>
                        <div class="separator-line bg-black no-margin-lr" style="margin: 3% auto;"></div>
                        <p class="text-large black-text letter-spacing-2 no-margin-bottom">Software Engineer</p>
                        <p class="text-uppercase letter-spacing-1">Experience: 0-2 Years</p>
                        <a class="highlight-button-black-border btn btn-medium" href="https://www.dropbox.com/request/owTHZYVoqA1emS8hy1YW" style="margin: 10px 0px;">Apply Now</a>
                    </div>
                    <div class="col-md-4 col-sm-4 no-padding-left">
                        <p class="black-text margin-0"><strong>Overview</strong></p>
                        <p class="margin-one">
                            This is a very special recruitment program. As <b>Loence</b> is in it's early age, we are mostly interested in freshers who are likely to stay with us for a significant amount of time.
                            We are looking for 2 Software Engineers to join our growing Engineering team and build out the next generation of our platform.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 no-padding-left">
                        <p class="black-text no-margin-bottom"><strong>Responsibilities</strong></p>
                        <p class="margin-one">
                            The ideal candidate must be at ease working in an agile environment with little supervision.
                            This person should embody a passion for continuous improvement and test-driven development.
                            Our current applications are mostly written on javascript and mostly we rely on MongoDB for storing data.
                            Which means you should be ready to enter in a javascript world.
                        </p>
                    </div>
                </div>
                <!-- end jobs opening position -->

            </div>
            <div class="col-md-12 col-sm-12">
                <!-- jobs opening position -->
                <div class="clearfix">
                    <div class="col-md-4 col-sm-4 no-padding-left position-relative">
                        <h2 class="font-weight-600 margin-0">02</h2>
                        <div class="separator-line bg-black no-margin-lr" style="margin: 3% auto;"></div>
                        <p class="text-large black-text letter-spacing-2 no-margin-bottom">Content Developer</p>
                        <p class="text-uppercase letter-spacing-1">Experience: 0-2 Years</p>
                        <a class="highlight-button-black-border btn btn-medium" href="https://www.dropbox.com/request/owTHZYVoqA1emS8hy1YW" style="margin: 10px 0px;">Apply Now</a>
                    </div>
                    <div class="col-md-4 col-sm-4 no-padding-left">
                        <p class="black-text margin-0"><strong>Overview</strong></p>
                        <p class="margin-one">
                            This is a very special recruitment program. As <b>Loence</b> is in it's early age, we are mostly interested in freshers who are likely to stay with us for a significant amount of time.
                            We are looking for a content developer to join our digital marketing team and grow with us to develop the most creative contents.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 no-padding-left">
                        <p class="black-text no-margin-bottom"><strong>Responsibilities</strong></p>
                        <p class="margin-one">
                            The position is responsible for creating original content for websites, newsletters, press releases, blogs, articles and advertising and marketing
                            materials for both <b>Loence</b> and their clients. She is also involved in developing digital contents for social media marketing.
                        </p>
                    </div>
                </div>
                <!-- end jobs opening position -->

            </div>
            <!-- end left part -->

        </div>
    </div>
</section>


<%- include footer.partial.ejs %>
</body>
</html>
