<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Loence ERP- a modern and easy to implement ERP software solution in Bangladesh</title>
    <meta name="description" content="Loence ERP is a customizable modern ERP built with cutting edge technology and sophisticated design. We provide ERP consultancy, software, training and support to trading, manufacturing and service businesses of all size.
         We share the step by step journey from planning to implementation of a modern ERP in Bangladesh with you. With facilitate all this at a significantly lower cost than our international competitors.">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/assets/css/owl.transitions.css"/>
    <link rel="stylesheet" href="/assets/css/full-slider.css"/>
    <% include ./header.partial.ejs %>
</head>
<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.partial.ejs %>
<!-- section text -->

<section class="page-title parallax3 parallax-fix page-title-large page-title-shop">
    <div class="opacity-light bg-dark-gray"></div>
    <img class="parallax-background-img" src="/assets/images/client/clients2.jpg" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 wow fadeIn">
                <!-- page title -->
                <h1 class="white-text">Clients</h1>
                <!-- end page title -->
            </div>
            <div class="col-md-12 col-sm-12 breadcrumb text-uppercase margin-three no-margin-bottom wow fadeIn">
                <!-- breadcrumb -->
                <ul>
                    <li>
                        <a class="white-text" href="/">Home</a>
                    </li>
                    <li class="white-text">
                        <a class="white-text">Clients</a>
                    </li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->
<section style="background-color: #f6f6f6; padding: 80px 0;">
    <div class="container" style="margin-bottom: 60px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 xs-margin-bottom-four">
                <span class="owl-title" style="line-height: 32px;font-size: 20px; font-weight: 600; display: block; letter-spacing: 4px;"> We are providing ERP service to some of the leading progressive companies in Bangladesh. Our happy clients are- </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- clients logo -->
            <div class="col-md-offset-3 col-md-3 col-sm-6 no-padding" style="border: 1px solid #e5e5e5;">
                <a href="https://amanplastic.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Click to View More">
                    <div class="client-logo-outer">
                        <div class="client-logo-inner">
                            <img alt="" src="/assets/images/client/amanplastic.jpg">
                        </div>
                    </div>
                </a>
            </div>
            <!-- end clients logo -->
            <!-- clients logo -->
            <div class="col-md-3 col-sm-6 no-padding" style="border: 1px solid #e5e5e5;">
                <a href="https://zihanplastic.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Click to View More">
                    <div class="client-logo-outer">
                        <div class="client-logo-inner">
                            <img alt="" src="assets/images/client/zihanplastic.jpg">
                        </div>
                    </div>
                </a>
            </div>
            <!-- end clients logo -->
        </div>
    </div>
</section>

<section class="padding-three">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-6 col-sm-6">
                <span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">What Our Clients Say</span>
            </div>
            <!-- end section title -->
            <!-- section highlight text -->
            <div class="col-md-6 col-sm-6 text-right xs-text-left">
            </div>
            <!-- end section highlight text -->
        </div>
    </div>
</section>
<section class="fix-background" style="background-image:url('/assets/images/client/clients.jpg');">
    <div class="opacity-full bg-black"></div>
    <div class="container">
        <div class="row">
            <div id="owl-demo" class="col-xs-12 owl-carousel owl-theme light-pagination bottom-pagination dark-pagination-without-next-prev-arrow position-relative">
                <!-- testimonials item -->
                <div class="item">
                    <div class="col-md-8 col-sm-8 no-padding testimonial-style2 center-col text-center margin-three no-margin-top">
                        <img src="/assets/images/client/owneraman.jpg" alt="" />
                        <p class="white-text text-med">From purchase to production, we now have all information at hand anytime. So it has been easier to take decision and oversee all processes. With their constant support and development, we are one step ahead towards going paperless.</p>
                        <span class="name white-text text-med">Mr Aman, Owner - Aman Plastic Industries</span>
                    </div>
                </div>
                <!-- end testimonials item -->
                <!-- testimonials item -->
                <div class="item">
                    <div class="col-md-8 col-sm-8 no-padding testimonial-style2 center-col text-center margin-three no-margin-top">
                        <img src="/assets/images/client/ownerzihan.jpg" alt="" />
                        <p class="white-text text-med">The implementation of LOENCE ERP has been a positive experience for us. Their ERP solution is much more trouble-free and comfortable than the other softwares we evaluated. The solution is fully functional to meet what we needed. I hope they prosper in future.</p>
                        <span class="name white-text text-med">Mr Sumon, Owner - Zihan Plastic Industries</span>
                    </div>
                </div>
                <!-- end testimonials item -->

            </div>
        </div>
    </div>
</section>


<%- include footer.partial.ejs %>
</body>
</html>