<section id="new-project" class="new-project no-padding-top" style="background-color: #f8f7f7">
	<div class="container">
		<div class="row center-col text-center">
			<h3 style="padding-top: 35px; font-size: 20px;">We'd love to hear about your Business.</h3>
			<a href="mailto:market360@loence.com?subject=Queries regarding Loence ERP&body=Hi,I was going through your website and found your email. I am interested to know more about Loence ERP." class="btn highlight-button-black-border margin-four no-margin-bottom inner-link">Contact us</a>
		</div>
	</div>
</section>
