<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Loence ERP- a modern and easy to implement ERP software solution in Bangladesh</title>
    <meta name="description" content="Loence ERP is a customizable modern ERP built with cutting edge technology and sophisticated design. We provide ERP consultancy, software, training and support to trading, manufacturing and service businesses of all size.
         We share the step by step journey from planning to implementation of a modern ERP in Bangladesh with you. With facilitate all this at a significantly lower cost than our international competitors.">
    <link rel="stylesheet" href="/assets/css/et-line-icons.css"/>
    <% include ./header.partial.ejs %>

</head>
<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.partial.ejs %>
<!-- section text -->

<section class="page-title parallax3 parallax-fix page-title-large page-title-shop">
    <div class="opacity-light bg-dark-gray"></div>
    <img class="parallax-background-img" src="/assets/images/all/contact_us.png" alt="" />
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 wow fadeIn">
                <!-- page title -->
                <h1 class="white-text">Contact Us</h1>
                <!-- end page title -->
            </div>
            <div class="col-md-12 col-sm-12 breadcrumb margin-three no-margin-bottom wow fadeIn">
                <!-- breadcrumb -->
                <ul>
                    <li>
                        <a class="white-text" href="/">Home</a>
                    </li>
                    <li class="white-text">
                        <a class="white-text" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->
<!-- contact us section -->
<section id="contact-us" class="xs-onepage-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 text-center center-col">
                <div class="col-md-4 col-sm-4 text-center">
                    <i class="icon-phone medium-icon black-text"></i>
                    <h6 class="black-text margin-two no-margin-bottom">+8801515-250294</h6>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <i class="icon-map-pin medium-icon black-text"></i>
                    <h6 class="black-text margin-two no-margin-bottom">15/10, Tallabag, Sobahanbag Dhaka, Bangladesh</h6>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <i class="icon-envelope medium-icon black-text"></i>
                    <h6 class="black-text margin-two no-margin-bottom">
						<span class="black-text">
							market360@loence.com
						</span>
                    </h6>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
        <!--&lt;!&ndash; form &ndash;&gt;-->
        <!--<form id="contactusform" action="javascript:void(0)" method="post">-->
        <!--<div class="col-md-10 col-sm-12 center-col">-->
        <!--<div class="row">-->
        <!--<div class="col-md-12 col-sm-12">-->
        <!--<div class="wide-separator-line margin-ten"></div>-->
        <!--</div>-->
        <!--<div class="col-md-12 col-sm-12">-->
        <!--<div id="success"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-sm-12">-->
        <!--<input name="name" type="text" placeholder="Your Name" />-->
        <!--<input name="phone" type="text" placeholder="Your Phone" />-->
        <!--<input name="email" type="text" placeholder="Your Email" />-->
        <!--</div>-->
        <!--<div class="col-md-6 col-sm-12">-->
        <!--<textarea name="comment" placeholder="Your Message"></textarea>-->
        <!--</div>-->
        <!--<div class="col-md-12 col-sm-12">-->
        <!--<div class="col-md-6 col-sm-6 no-padding-left">-->
        <!--<span class="required">*Please complete all fields correctly</span>-->
        <!--</div>-->
        <!--<div class="col-md-3 col-sm-6 f-right no-padding-right">-->
        <!--<input id="contact-us-button" name="send message" type="button" value="send message" class="btn btn-black no-margin-top f-right no-margin-lr">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
        <!--&lt;!&ndash; end form &ndash;&gt;-->
        <!--</div>-->
    </div>
</section>
<!-- end contact us section -->
<%- include contactrequest.partial.ejs %>
<!-- content section -->
<section class="wow fadeIn no-padding">
    <div class="container-fuild">
        <div class="row no-margin">
            <div id="canvas1" class="col-md-12 col-sm-12 no-padding contact-map map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14607.077228763328!2d90.3777566!3d23.7556046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe9554dcc6e7fea5!2sLoence+Solution!5e0!3m2!1sen!2sbd!4v1544269155360" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                </div>
        </div>
    </div>
</section>


<%- include footer.partial.ejs %>
</body>
</html>