<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Loence ERP- a modern and easy to implement ERP software solution in Bangladesh</title>
    <meta name="description" content="Loence ERP is a customizable modern ERP built with cutting edge technology and sophisticated design. We provide ERP consultancy, software, training and support to trading, manufacturing and service businesses of all size.
         We share the step by step journey from planning to implementation of a modern ERP in Bangladesh with you. With facilitate all this at a significantly lower cost than our international competitors.">
    <% include ./header.partial.ejs %>
</head>
<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.partial.ejs %>
<!-- section text -->

<!-- section text -->
<section class="content-top-margin page-title bg-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="white-text">Loence Executive Board</h1>
                <!-- end page title -->
                <div class=" breadcrumb sm-no-margin-top wow fadeInUp xs-display-none" data-wow-duration="600ms">
                    <!-- breadcrumb -->
                    <ul>
                        <li><a href="/" class="white-text">Home</a></li>
                        <li class="white-text">About</li>
                        <li class="white-text">Loence Executive Board</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
                <div class="separator-line margin-three bg-white no-margin-lr sm-margin-top-three sm-margin-bottom-three no-margin-bottom xs-display-none"></div>
            </div>

        </div>
    </div>
</section>
<!-- content section -->

<!-- Content -->
<section class="container padding-top-3x padding-bottom-3x">
    <div class="row padding-top">
        <div>
            <!-- Teammate -->
            <div class="col-xs-6 col-md-3">
                <div class="teammate">
                    <div class="teammate-thumb">
                        <div class="social-bar text-center space-bottom">
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin" data-original-title="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div><!-- .social-bar -->
                        <img src="/assets/images/team/samim-ahmed2.jpg" alt="Shamim Ahmed">
                    </div>
                    <h4 class="teammate-name">Shamim Ahmed</h4>
                    <span class="teammate-position">Chief Executive Officer</span>
                </div><!-- .teammate -->
            </div><!-- .col-xs-6.col-md-3 -->
            <!-- Teammate -->
            <div class="col-xs-6 col-md-3">
                <div class="teammate">
                    <div class="teammate-thumb">
                        <div class="social-bar text-center space-bottom">
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin" data-original-title="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div><!-- .social-bar -->
                        <img src="/assets/images/team/feroz_ahmmed.jpg" alt="Feroz Ahmed">
                    </div>
                    <h4 class="teammate-name">Feroz Ahmmed</h4>
                    <span class="teammate-position">Chief Technology Officer</span>
                </div><!-- .teammate -->
            </div><!-- .col-xs-6.col-md-3 -->
            <!-- Teammate -->
            <div class="col-xs-6 col-md-3">
                <div class="teammate">
                    <div class="teammate-thumb">
                        <div class="social-bar text-center space-bottom">
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin" data-original-title="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div><!-- .social-bar -->
                        <img src="/assets/images/team/nishat_mannan.jpg" alt="Nisahat Mannan">
                    </div>
                    <h4 class="teammate-name">Nisahat Mannan</h4>
                    <span class="teammate-position">Head of Marketing</span>
                </div><!-- .teammate -->
            </div><!-- .col-xs-6.col-md-3 -->
            <!-- Teammate -->
            <div class="col-xs-6 col-md-3">
                <div class="teammate">
                    <div class="teammate-thumb">
                        <div class="social-bar text-center space-bottom">
                            <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="sb-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin" data-original-title="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div><!-- .social-bar -->
                        <img src="/assets/images/team/md_abdul_mannan.JPG" alt="Md Abdul Mannan">
                    </div>
                    <h4 class="teammate-name">Md Abdul Mannan</h4>
                    <span class="teammate-position">Chief Operating Officer</span>
                </div><!-- .teammate -->
            </div><!-- .col-xs-6.col-md-3 -->
        </div>
        <div class="clearfix"></div>
        <!-- Teammate -->
        <div class="col-xs-6 col-md-3">
            <div class="teammate">
                <div class="teammate-thumb">
                    <div class="social-bar text-center space-bottom">
                        <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="sb-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin" data-original-title="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div><!-- .social-bar -->
                    <img src="/assets/images/team/prithul_sarker.jpg" alt="Prithul Sarkar">
                </div>
                <h4 class="teammate-name">Prithul Sarker</h4>
                <span class="teammate-position">Chief Product Officer</span>
            </div><!-- .teammate -->
        </div><!-- .col-xs-6.col-md-3 -->
    </div><!-- .row -->
</section>


<%- include footer.partial.ejs %>
</body>
</html>