<!-- footer -->
<footer>
	<div class="container onepage-footer-middle" style="border-top: 1px solid gray;">
		<div class="row">
			<div class="col-md-12 col-sm-12 footer-social text-right text-center">
				<!-- social media link -->
				<a target="_blank" href="https://www.facebook.com/loencetech/">
					<i class="fa fa-facebook"></i>
				</a>
				<a target="_blank" href="https://twitter.com/">
					<i class="fa fa-twitter"></i>
				</a>
				<a target="_blank" href="https://plus.google.com/">
					<i class="fa fa-google-plus"></i>
				</a>
				<a target="_blank" href="https://dribbble.com/">
					<i class="fa fa-dribbble"></i>
				</a>
				<a target="_blank" href="https://www.youtube.com/">
					<i class="fa fa-youtube"></i>
				</a>
				<a target="_blank" href="https://www.linkedin.com/">
					<i class="fa fa-linkedin"></i>
				</a>
				<!-- end social media link -->
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark-gray footer-bottom">
		<div class="container">
			<div class="row margin-three">
				<!-- copyright -->
				<div class="col-md-4 col-sm-4 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
					&copy; 2019 Loence.com All Right Reserved.
				</div>
				<!-- end copyright -->
				<div class="col-md-4 col-sm-4 col-xs-12 footer-logo text-right xs-text-center">
					<p class="phone-footer"><i style="color: #888888;" class="fa fa-phone" aria-hidden="true"></i> +8801515250294</p>
				</div>
				<!-- logo -->
				<div class="col-md-4 col-sm-4 col-xs-12 footer-logo text-right xs-text-center">
					<a href="/">
						<img src="/assets/images/logo/logofooter.PNG" alt="" />
					</a>
				</div>
				<!-- end logo -->
			</div>
		</div>
	</div>
	<!-- scroll to top -->
	<a href="javascript:;" class="scrollToTop">
		<i class="fa fa-angle-up"></i>
	</a>
	<!-- scroll to top end... -->
</footer>
<!-- Page Preloading -->
<script src="/scripts/page-preloading.js"></script>
<!-- end footer -->
<!-- javascript libraries / javascript files set #1 -->
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/modernizr.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-hover-dropdown.js"></script>
<script type="text/javascript" src="/scripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/scripts/skrollr.min.js"></script>
<script type="text/javascript" src="/scripts/smooth-scroll.js"></script>

<!-- page scroll -->
<script type="text/javascript" src="/scripts/page-scroll.js"></script>

<!-- text effect  -->
<script type="text/javascript" src="/scripts/text-effect.js"></script>

<!-- setting -->
<script type="text/javascript" src="/scripts/main.js"></script>
