<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">

	<% include ./header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.partial.ejs %>

<!-- section text -->
<section class="bg-gray" style="margin-top: 80px; padding: 60px 0;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-8 xs-margin-bottom-four">
				<span class="owl-subtitle">Loence ERP</span>
				<span class="owl-title" style="line-height: 35px;font-size: 25px; font-weight: 600; display: block; letter-spacing: 4px;">A Cloud-Based Modern ERP System that is customized & fully aligned with your business model.</span>
			</div>
			<!-- end section title -->
			<!-- section highlight text -->
			<div class="col-md-4 col-sm-4 text-right xs-text-left">
				<img alt="" class="get-bg xs-display-none" style="padding-top: 12%;" src="/assets/images/loencehomeerp.png" />
			</div>


		</div>
	</div>
</section>
<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-6 col-sm-6">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Loence ERP Modules</span>
			</div>
			<!-- end section title -->
			<!-- section highlight text -->
			<div class="col-md-6 col-sm-6 text-right xs-text-left">
			</div>
			<!-- end section highlight text -->
		</div>
	</div>
</section>
<section class="bg-white no-padding">
	<div class="container-fuild parallax9 parallax-fix">
		<img class="parallax-background-img" src="/assets/images/all/bannererp.jpg" alt="" />
		<div class="col-md-6 col-sm-12 col-xs-12 grid-border pull-right no-padding clearfix">
			<!-- services item -->
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
				<a href="human-resource-management/index.html">
					<img class="modulesicon" src="/assets/images/modules/humanresource.png" alt="" />
					<span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">HUMAN RESOURCE
                            <br>MANAGEMENT</span>
				</a>
			</div>
			<!-- end services item -->
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
				<a href="financial-accounting/index.html">
					<img class="modulesicon" src="/assets/images/modules/accounting.png" alt="" />
					<span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">FINANCIAL
						<br> ACCOUNTING
                        </span>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
				<a href="supply-chain-management/index.html">
					<img class="modulesicon" src="/assets/images/modules/finance.png" alt="" />
					<span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">SUPPLY CHAIN
                            <br>MANAGEMENT</span>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
				<a href="manufacturing-process-management/index.html">
					<img class="modulesicon" src="/assets/images/modules/manufacturing.png" alt="" />
					<span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">MANUFACTURING
                            <br>PROCESS MANAGEMENT</span>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
				<a href="business-process-management/index.html">
					<img class="modulesicon" src="/assets/images/modules/businessprocess.png" alt="" />
					<span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">BUSINESS PROCESS
                            <br>MANAGEMENT</span>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
				<a href="business-intelligence">
					<img class="modulesicon" src="/assets/images/modules/inventory.png" alt="" />
					<span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">BUSINESS
                            <br>INTELLIGENCE</span>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-6 col-sm-6">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Business  Opportunities</span>
			</div>
			<!-- end section title -->
			<!-- section highlight text -->
			<div class="col-md-6 col-sm-6 text-right xs-text-left">
			</div>
			<!-- end section highlight text -->
		</div>
	</div>
</section>
<section class="border-bottom clear-both bg-gray" style="padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 our-process">
				<div class="col-md-6 no-padding-left margin-five no-margin-top xs-no-padding wow fadeInUp" data-wow-duration="1000ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px font-weight-700 display-inline-block vertical-align-middle">Reduction in operational cost</div></div>
					<p class="text-extra-large width-90">In a typical business, managers spend lots of their working hours traversing piles of documents to find the appropriate data. Automating most of these tasks, an ERP system contributes in a dramatic reduction in operational cost</p>
				</div>
				<div class="col-md-6 no-padding-left margin-five no-margin-top xs-no-padding wow fadeInUp" data-wow-duration="1000ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px font-weight-700 display-inline-block vertical-align-middle">Improved efficiency</div></div>
					<p class="text-extra-large width-90">With less time spent to carry out repetitive daily activities, a properly implemented ERP frees up your team to focus on revenue-affecting tasks, improving efficiency of the team.</p>
				</div>
				<div class="col-md-6 no-padding-left xs-margin-bottom-five xs-no-padding wow fadeInUp" data-wow-duration="1200ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px font-weight-700 display-inline-block vertical-align-middle">Total visibility and collaboration</div></div>
					<p class="text-extra-large width-90">ERP allows data from every department easily accessible to every layer of your management which provides more coherent workflows and allows inter-departmental processes to be easily tracked with maximum efficiency.</p>
				</div>
				<div class="col-md-6 no-padding-left xs-no-padding wow fadeInUp" data-wow-duration="1200ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px  font-weight-700 display-inline-block vertical-align-middle">Improved forecasting and decision making</div></div>
					<p class="text-extra-large width-90">ERP gives you the ability to analyze and compare functions across departments. Since the information within ERP is as accurate as possible, businesses can make realistic estimates and more effective forecasts and decisions.</p>
				</div>
				<div class="col-md-6 no-padding-left margin-five no-margin-top xs-no-padding wow fadeInUp" data-wow-duration="1200ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px font-weight-700 display-inline-block vertical-align-middle">Improved supply chain performance</div></div>
					<p class="text-extra-large width-90">A streamlined supply chain becomes better and more responsive via improved demand forecasting, inventory management, procurement and facilitates manufacturing innovations, which can help you reduce costs and develop exciting new products that give your business the competitive edge it needs to stay ahead.</p>
				</div>
				<div class="col-md-6 no-padding-left margin-five no-margin-top xs-no-padding wow fadeInUp" data-wow-duration="1200ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px font-weight-700 display-inline-block vertical-align-middle">Reduction in inventory cost</div></div>
					<p class="text-extra-large width-90">Proper implementation of ERP results in- 15-25 percent reduction in funds invested in safety stock, 10-25 percent fewer stock outs, for improved availability and productivity, 10-25 percent drop in administrative costs for replenishing inventory, 33-66 percent less resource time spent managing inventory.</p>
				</div>
				<div class="col-md-6 no-padding-left xs-margin-bottom-five xs-no-padding wow fadeInUp" data-wow-duration="1200ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px font-weight-700 display-inline-block vertical-align-middle">Improved customer satisfaction</div></div>
					<p class="text-extra-large width-90">Your sales team will be able to focus on building and maintaining customer relationships and providing better customer interactions from targeted marketing instead of maintaining spreadsheets and books. </p>
				</div>
				<div class="col-md-6 no-padding-left xs-no-padding wow fadeInUp" data-wow-duration="1200ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px  font-weight-700 display-inline-block vertical-align-middle">Scalability</div></div>
					<p class="text-extra-large width-90">Whether you’re expanding your customer base; entering new markets; rolling out new processes, departments or products; or are otherwise growing your business, adding new functionality to the ERP platform is easy with us.</p>
				</div>
				<div class="col-md-6 no-padding-left margin-five no-margin-top xs-no-padding wow fadeInUp" data-wow-duration="1200ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px font-weight-700 display-inline-block vertical-align-middle">Storing appropriate quantity of data</div></div>
					<p class="text-extra-large width-90">Loence ERP stores data efficiently so you can easily access and analyze your data to further optimize your business or to adopt new competitive strategies.</p>
				</div>
				<div class="col-md-6 no-padding-left margin-five no-margin-top xs-no-padding wow fadeInUp" data-wow-duration="1200ms">
					<div class="icon position-relative xs-no-margin-lr-auto"><img class="image15" src="/assets/images/rightarrow.png" alt="">
						<div class="title black-text font-22px font-weight-700 display-inline-block vertical-align-middle">Data security</div></div>
					<p class="text-extra-large width-90">Prepared for any unwanted occurrences, we back up your data on regular basis. Our impenetrable security ensures your data is never accessed unauthorized whereas traditionally stored data may get damaged or lost and is vulnerable to accident and unauthorized access.</p>
				</div>
			</div>
		</div></div>
</section>
<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-6 col-sm-6">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Why Loence ERP</span>
			</div>
			<!-- end section title -->
			<!-- section highlight text -->
			<div class="col-md-6 col-sm-6 text-right xs-text-left">
			</div>
			<!-- end section highlight text -->
		</div>
	</div>
</section>
<!-- content section -->
<section class="content-section" style="padding: 80px 0;">
	<div class="container">
		<div class="row">
			<div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1200ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>Latest Technologies</h5>
							<div class="separator-line bg-yellow"></div>
							<p>We believe in ever evolving nature of technology and our technology stack adapts latest and proven technologies faster.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1200ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>Seamless User Experience</h5>
							<div class="separator-line bg-yellow"></div>
							<p>Focused on delivering easy, intuitive and seamless user interaction, we make it simple for you to adapt following ‘Material Design’ guidelines from Google.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1200ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>Faster Delivery</h5>
							<div class="separator-line bg-yellow"></div>
							<p>The modular architecture and plug-and-play mechanism of our ERP platform allows us to deliver complex features significantly faster than our local and international competitors.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>Impenetrable Security</h5>
							<div class="separator-line bg-yellow"></div>
							<p>With a vigilant team of security experts we maintain an impenetrable security framework ensuring multiple layers of authentication and authorization process.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>Smart Device Integration</h5>
							<div class="separator-line bg-yellow"></div>
							<p>From attendance tracking to manufacturing process automation, we integrate your smart devices to ERP system which eliminates repetitive manual interventions, saving time and increasing accuracy.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>AI Implementation</h5>
							<div class="separator-line bg-yellow"></div>
							<p>We develop artificial intelligence based forecasting and planning tools on demand giving you access to most advanced technology advantages.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>Uninterrupted Support</h5>
							<div class="separator-line bg-yellow"></div>
							<p>We ensure uninterrupted support through our 24/7 help desk and a watchful Rapid Action Team.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>Complete Paperless Facility</h5>
							<div class="separator-line bg-yellow"></div>
							<p>Computerizing all your operational, reporting and analytical activities, we equip you with everything you need to go paperless.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
						<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
							<h5>Customized Analysis And Report</h5>
							<div class="separator-line bg-yellow"></div>
							<p>You can gather appropriate quantity of information and perform statistical reporting and analysis through customized tools.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4 col-sm-12">
				<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
					<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
						<h5>Zero Downtime</h5>
						<div class="separator-line bg-yellow"></div>
						<p>Thanks to our advanced back-up mechanism we ensure you a downtime free experience.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
					<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
						<h5>Customized Mobile Applications</h5>
						<div class="separator-line bg-yellow"></div>
						<p>We provide customized Android and IOS mobile applications to ensure comfortable and streamlined interaction.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="1500ms">
					<div class="col-md-12 col-sm-12 col-xs-12 no-padding text-left f-right">
						<h5>All In One</h5>
						<div class="separator-line bg-yellow"></div>
						<p>Thanks to our sophisticated ERP platform, you can manage all your sister concerns in one integrated system.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- end content section -->

<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-6 col-sm-6">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Training and Support</span>
			</div>
			<!-- end section title -->
			<!-- section highlight text -->
			<div class="col-md-6 col-sm-6 text-right xs-text-left">
			</div>
			<!-- end section highlight text -->
		</div>
	</div>
</section>
<!-- chef section -->
<section class="bg-gray">
	<div class="container">
		<div class="row no-margin-bottom">
			<!-- chef  -->
			<div class="col-md-12 sm-margin-bottom-ten">
				<div class="col-md-6 chef-img cover-background" style="background-image:url('/assets/images/support/training.jpg');">
					<div class="img-border"></div>
				</div>
				<div class="col-md-6 chef-text bg-gray text-center" style="background-color: white !important;">
					<span class="text-large black-text text-uppercase letter-spacing-3 font-weight-600 margin-ten display-block no-margin-bottom">Training</span>
					<p class="text-med margin-ten width-90 center-col">We have a team of ERP experts to train your employees ensuring smooth and comfortable migration to
						digitalized system.</p>
					<p class="text-med margin-ten width-90 center-col">We arrange freemium training workshops on ERP regularly. We also send our experts to your company
						to train the employees on site.</p>
				</div>
			</div>
			<!-- end chef  -->
			<!-- chef  -->
			<div class="col-md-12">
				<div class="col-md-6 chef-text text-center mobile-displaynone" style="background-color: white !important;">
					<span class="text-large black-text text-uppercase letter-spacing-3 font-weight-600 margin-ten display-block no-margin-bottom">Support</span>
					<p class="text-med margin-ten width-90 center-col">We have a dedicated team to ensure uninterrupted support 24/7 for the valued clients.</p>
					<p class="text-med margin-ten width-90 center-col">Our clients don't need an IT team to go paperless.</p>
				</div>
				<div class="col-md-6 chef-img cover-background" style="background-image:url('/assets/images/support/support.jpg');">
					<div class="img-border"></div>
				</div>
				<div class="col-md-6 chef-text text-center pc-displaynone" style="background-color: white !important;">
					<span class="text-large black-text text-uppercase letter-spacing-3 font-weight-600 margin-ten display-block no-margin-bottom">Support</span>
					<p class="text-med margin-ten width-90 center-col">We have a dedicated team to ensure uninterrupted support 24/7 for the valued clients.</p>
					<p class="text-med margin-ten width-90 center-col">Our clients don't need an IT team to go paperless.</p>
				</div>
			</div>
			<!-- end chef  -->
		</div>
	</div>
</section>

<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-6 col-sm-6">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Our Preferred Industries</span>
			</div>
			<!-- end section title -->
			<!-- section highlight text -->
			<div class="col-md-6 col-sm-6 text-right xs-text-left">
			</div>
			<!-- end section highlight text -->
		</div>
	</div>
</section>
<section class="work-5col masonry wide photography-grid photography-services no-margin-top no-padding wow fadeIn">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 grid-gallery overflow-hidden no-padding">
				<div class="tab-content">
					<ul class="grid masonry-block-items">
						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/plastic.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Plastic</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- end masonry items -->

						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/garments.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Garments</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- end masonry items -->
						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/education2.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Education</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/retail.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Retail</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- end masonry items -->
						<!-- end masonry items -->
						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/pharma.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Pharma</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>

						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/health2.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Health</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- end masonry items -->
						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/cooperative.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Cooperative</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- end masonry items -->
						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/leather.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Leather</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- end masonry items -->
						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/textle.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Textile</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- end masonry items -->
						<!-- masonry items -->
						<li class="overflow-hidden">
							<div class="opacity-light bg-dark-gray"></div>
							<a href="">
								<img src="/assets/images/industry/food.jpg" alt="">
							</a>
							<div class="img-border-small img-border-small-gray border-transperent-light"></div>
							<figure>
								<figcaption>
									<div class="photography-grid-details">
                                            <span class="text-large letter-spacing-9 font-weight-600 white-text">
                                                <a href="#" class="white-text">Food and Beverage</a>
                                            </span>
									</div>
								</figcaption>
							</figure>
						</li>
						<!-- end masonry items -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include footer.partial.ejs %>
</body>

</html>
