<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Loence ERP- a modern and easy to implement ERP software solution in Bangladesh</title>
    <meta name="description" content="Loence ERP is a customizable modern ERP built with cutting edge technology and sophisticated design. We provide ERP consultancy, software, training and support to trading, manufacturing and service businesses of all size.
         We share the step by step journey from planning to implementation of a modern ERP in Bangladesh with you. With facilitate all this at a significantly lower cost than our international competitors.">
    <% include ./header.partial.ejs %>
    <link rel="stylesheet" href="assets/css/custom-classes.css">
</head>
<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include navigation.partial.ejs %>
<!-- section text -->
<section class="bg-gray" style="margin-top: 80px; padding: 60px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 xs-margin-bottom-four">
                <span class="owl-subtitle">ERP Solution</span>
                <span class="owl-title" style="line-height: 35px;font-size: 25px; font-weight: 600; display: block; letter-spacing: 4px;">Care to spend more on actual work rather than calculation?</span>
                <a href="mailto:market360@loence.com?subject=Queries regarding Loence ERP&body=Hi,I was going through your website and found your email. I am interested to know more about Loence ERP." class="btn highlight-button-black-border margin-four no-margin-bottom inner-link" class="highlight-button-dark btn margin-four" style="border: 2px solid #000; font-size: 15px; padding: 12px 30px;">Let the machines work</a>
            </div>
            <div class="col-md-4 col-sm-4 text-right xs-text-left">
                <img alt="" class="get-bg xs-display-none" style="padding-top: 12%;" src="/assets/images/homeerp2.png" />
            </div>
        </div>
    </div>
</section>
<section class="padding-one hback1">
   <div class="container">
       <div class="row">
           <div class="col-md-6 col-sm-6">
               <span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">Loence ERP Modules</span>
           </div>
           <div class="col-md-6 col-sm-6 text-right xs-text-left">
           </div>
       </div>
   </div>
   </section>
   <section class="bg-white no-padding" style="margin-bottom: 80px;">
   <div class="container-fuild parallax9 parallax-fix">
       <img class="parallax-background-img" src="/assets/images/all/bannererp.jpg" alt="" />
       <div class="col-md-6 col-sm-12 col-xs-12 grid-border pull-right no-padding clearfix">
           <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
               <a href="/human-resource-management/">
                   <img class="modulesicon" src="/assets/images/modules/humanresource.png" alt="" />
                   <span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">HUMAN RESOURCE
                              <br>MANAGEMENT</span>
               </a>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
               <a href="/financial-accounting">
                   <img class="modulesicon" src="/assets/images/modules/accounting.png" alt="" />
                   <span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">FINANCIAL
                       <br> ACCOUNTING
                          </span>
               </a>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
               <a href="/supply-chain-management">
                   <img class="modulesicon" src="/assets/images/modules/finance.png" alt="" />
                   <span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">SUPPLY CHAIN
                              <br>MANAGEMENT</span>
               </a>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
               <a href="/manufacturing-process-management/">
                   <img class="modulesicon" src="/assets/images/modules/manufacturing.png" alt="" />
                   <span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">MANUFACTURING
                              <br>PROCESS MANAGEMENT</span>
               </a>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding grid-border-box bg-gray text-center">
               <a href="/business-intelligence/">
                   <img class="modulesicon" src="/assets/images/modules/inventory.png" alt="" />
                   <span class="text-uppercase letter-spacing-2 black-text font-weight-600 display-block margin-ten no-margin-bottom xs-margin-top-five">BUSINESS
                              <br>INTELLIGENCE</span>
               </a>
           </div>
       </div>
   </div>
   </section>
<%- include footer.partial.ejs %>
</body>
</html>
