<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<%- include('../user-manual-leftbar.partial.ejs', {activeSection: 'SCM'}) %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#createpurchase">To create a purchase</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewpurchases">To view purchases</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#statuspurchase">To change status of a purchase</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Supply Chain Management</h2>
		<h2 class="usermanual-sub-header-2">Purchase Management</h2>

		<p class="usermanual-p font-weight-600 same-page-link-top-offset" id="createpurchase">To create a purchase</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Purchase</b> section and then <b>Purchase</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/1.png" alt=""/>

			<li class="usermanual-li">Click on <b>Create</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/4.png" alt=""/>

			<li class="usermanual-li">Select supplier from its dropdown button or search for particular supplier.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/5.png" alt=""/>

			<li class="usermanual-li">Click on <b>Create</b> button on the right side and select <b>Item Type</b>, <b>Entity</b> and its <b>Quantity</b>. Click on <b>Confirm</b> button. You can purchase more than one item at a time.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/4.png" alt=""/>

			<li class="usermanual-li">To edit or remove items, click on <b>Edit</b> or <b>Remove</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/6.png" alt=""/>

			<li class="usermanual-li">Enter supply date by clicking on <b>Calendar</b> button. By default, it is to be the current date.</li>
			<li class="usermanual-li">Enter discount.</li>
			<li class="usermanual-li">Select the medium of payment and enter amount of money you are paying at that moment.</li>
			<li class="usermanual-li">Enter Deduction amount from the purchase value.</li>
			<li class="usermanual-li">Click on the <b>Submit</b> button.</li>

		</ol>

		<p class="usermanual-p font-weight-600 same-page-link-top-offset" id="viewpurchases">To view purchases</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Purchase</b> section and then <b>Purchase</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of purchases previously created.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/7.png" alt=""/>

			<li class="usermanual-li">To view more purchases, change <b>Items per Page</b> or go to the next page by clicking on the <b>Next Page</b> icon.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Search purchases using serial number.</li>
			<li class="usermanual-li">Use <b>Purchase Filter</b> to view particular supplier purchases.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/2.png" alt=""/>

			<li class="usermanual-li">Sort purchases by serial number or particulars by clicking on the particular table head.</li>

		</ol>

		<p class="usermanual-p font-weight-600 same-page-link-top-offset" id="statuspurchase">To change status of a purchase</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Purchase</b> section and then <b>Purchase</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of purchases previously created.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/purchase-management/7.png" alt=""/>

			<li class="usermanual-li">Find desired purchase from the list by searching, filtering, sorting or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the same line of the item and select <b>Update Status</b>.</li>
			<li class="usermanual-li">Select its status and type down corresponding expense in the new window.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/3.png" alt=""/>

			<li class="usermanual-li">Click on <b>Confirm</b> button.</li>

		</ol>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
