<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<%- include('../user-manual-leftbar.partial.ejs', {activeSection: 'SCM'}) %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#createsale">To create a sale</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewsales">To view sales</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Supply Chain Management</h2>
		<h2 class="usermanual-sub-header-2">Sales Management</h2>

		<p class="usermanual-p font-weight-600" id="createsale">To create a sale</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on Sales section and then Sales page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/1.png" alt=""/>

			<li class="usermanual-li">Click on Create button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/2.png" alt=""/>

			<li class="usermanual-li">Select customer from its dropdown button or search for particular customer.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/3.png" alt=""/>

			<li class="usermanual-li">Click on Create button on the right side and select Item Type, Entity and its Quantity. Click on Confirm button. You can sell more than one item at a time.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/4.png" alt=""/>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/5.png" alt=""/>

			<li class="usermanual-li">To edit or remove items, click on Edit or Remove button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/6.png" alt=""/>

			<li class="usermanual-li">Enter discount and vat percentage.</li>
			<li class="usermanual-li">Select the medium of payment and enter amount of money you are receiving and enter deduction amount.</li>
			<li class="usermanual-li">Click on the Submit button.</li>

		</ol>

		<p class="usermanual-p font-weight-600" id="viewsales">To view sales</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on Sales section and then Sales page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of previous sales and their details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/sales-management/7.png" alt=""/>

			<li class="usermanual-li">To view more sales, change Items per page or go to the next page by clicking on the Next page icon.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>
			
			<li class="usermanual-li">Search sales list using serial number.</li>

		</ol>


	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
