<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<%- include('../user-manual-leftbar.partial.ejs', {activeSection: 'SCM'}) %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#initializeinventory">To initialize inventory</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewinventory">To view stocked items in inventory</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#transferinventory">To transfer inventory</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Supply Chain Management</h2>
		<h2 class="usermanual-sub-header-2">Warehouse Management</h2>

		<p class="usermanual-p font-weight-600" id="initializeinventory">To initialize inventory</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Inventory</b> section and then <b>Warehouse</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/1.png" alt=""/>

			<li class="usermanual-li">Click on the particular tab that the item belongs to. </li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/2.png" alt=""/>

			<li class="usermanual-li">Click on <b>Create</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/5.png" alt=""/>

			<li class="usermanual-li">Select item name, branch and its quantity. (Only admin needs to select the branch)</li>
			<li class="usermanual-li">Click on <b>Confirm</b> button.</li>

		</ol>

		<p class="usermanual-p font-weight-600" id="viewinventory">To view stocked items in inventory</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Inventory</b> section and then <b>Warehouse</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/1.png" alt=""/>

			<li class="usermanual-li">Click on the particular tab that the item belongs to. </li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/2.png" alt=""/>

			<li class="usermanual-li">Get a list of stock information of particular item type.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/3.png" alt=""/>

			<li class="usermanual-li">Filter to view inventory of a particular branch. Click on the <b>Filter</b> icon and select that branch. (only admin has this authority)</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/4.png" alt=""/>

			<li class="usermanual-li">To view more items, change <b>Items per Page</b> or go to the next page by clicking on the <b>Next page</b> icon. You can also search using item name.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Sort warehouse items by quantity numerically by clicking on the particular table head.</li>

		</ol>

		<p class="usermanual-p font-weight-600" id="transferinventory">To transfer inventory</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Inventory</b> section and then <b>Warehouse</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/1.png" alt=""/>

			<li class="usermanual-li">Click on the particular tab that the item belongs to. </li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/2.png" alt=""/>

			<li class="usermanual-li">Click on <b>Transfer</b> button.</li>
			<li class="usermanual-li">Select <b>From Branch</b> from the list. (only admin has to select this option) and select <b>To Branch</b> from the list. Select <b>Item Name</b> and its <b>Quantity</b>.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/supply-chain-management/warehouse-management/6.png" alt=""/>

			<li class="usermanual-li">Click on <b>Confirm</b> button.</li>>

		</ol>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
