<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Loence HRM- a customizable human resource management software</title>
    <meta name="description" content="" Loence Human Resource Management system helps organizations to manage their
          people to achieve business objectives and maintain employee satisfaction. We offer customization, scalability,
          ease of use with moderate pricing and reliable support
    ">
    <%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
    <!-- col -->
    <div class="col-md-3 col-sm-4 mobile-displaynone">
        <!-- toggle -->
        <div class="panel-group toggles-style2 usermanual-panel-fixed">
            <div class="panel panel-default">
                <div id="type2-headingOne" class="panel-heading usermanual-panel">
                    <h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
                </div>
            </div>
            <!-- toggle item -->
            <div class="panel panel-default active" id="collapse-two">
                <div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
                    <a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4
                                class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Human
                            Resource Management</h4></a>
                </div>

            </div>
            <!-- end toggle item -->
            <!-- toggle item -->
            <div class="panel panel-default active" id="collapse-two">
                <div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
                    <a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4
                                class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Financial
                            Accounting</h4></a>
                </div>

            </div>
            <!-- end toggle item -->
            <!-- toggle item -->
            <div class="panel panel-default active" id="collapse-two">
                <div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
                    <a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4
                                class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Supply
                            Chain Management</h4></a>
                </div>

            </div>
            <!-- end toggle item -->
            <!-- toggle item -->
            <div class="panel panel-default active" id="collapse-two">
                <div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
                    <a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4
                                class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">
                            Manufacturing Process Management</h4></a>
                </div>

            </div>
            <!-- end toggle item -->
            <!-- toggle item -->
            <div class="panel panel-default active" id="collapse-two">
                <div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
                    <a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4
                                class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Business
                            Intelligence</h4></a>
                </div>

            </div>
            <!-- end toggle item -->

        </div>
        <!-- end toggle -->
    </div>
    <!-- end col -->
    <!-- col -->
    <div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
        <aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky
               data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
            <h4 class="toc-submenu">HRM Features</h4>
            <ul class="nav nav-list flex-column mb-4 show-bg-active">
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#first">Recruitment and Hiring</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#second">Employee Data Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#third">Benefit and Compensation Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#forth">Time Tracking and Attendance System</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#fifth">Employee Scheduling</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#sixth">Employee Appraisal</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#seventh">Payroll Processing</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#eighth">Employee Self Service</a></li>
            </ul>
        </aside>
    </div>

    <div class="col-md-7 col-sm-7 col-xs-12 mob-padding">
        <section id="project-img" class="no-padding content-top-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown"
                         style="background-image:url('/assets/images/hrm/hrmodule.jpg');">
                        <div class="opacity-medium bg-dark-gray"></div>
                        <div class="container">
                            <div class="project-header-text">
                                <h1 class="project-title white-text">Loence Human Resource Management</h1>
                                <b class="white-text">A customizable, scalable and easy to use modern HRM solution with
                                    reliable support </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="usermanual-sub-header">What is Human Resource Management?</h2>
        <p class="usermanual-p">
            Human resource management (HRM) deals with both the people who work for the organization and the department
            responsible for managing resources related to the people. Often referred to as personnel management,
            human resource management involved in overseeing all things related to managing a companies human capital.
        </p>
        <div class="separator-line bg-yellow" id="first"></div>
        <h2 class="usermanual-sub-header-2">Recruitment and Hiring</h2>
        <div class="col-md-12 pull-left xs-no-padding">
            <div class="col-md-6 chef-img cover-background padding-two"
                 style="background-image:url('/assets/images/hrm/recruitment.jpg');">
            </div>
            <ul>
                <li class="position-relative font-weight-300 text-extra-large margin-two-bottom">
                    <span class="number">01.</span>
                    <span>
                        <span class="black-text font-weight-500  display-table">Job Requisition</span>HR manager fill out a job requisition form when they wish to create a new position or refill and existing,
                        vacated position. The job requisition requires approval from higher authorities. After the approval the job requisition is used to guide rest of the hiring process.
                    </span>
                </li>
                <li class="position-relative font-weight-300 text-extra-large margin-two-bottom">
                    <span class="number">02.</span>
                    <div>
                        <span class="black-text font-weight-500 display-table">Job Description</span>
                        A job description summarizes the essential responsibilities, activities, qualifications and skills for a role. The job description provides enough information for the candidates to determine
                        if they're qualified for the position. It also defines the baseline for applicant evaluation process.
                    </div>
                </li>
                <li class="position-relative font-weight-300 text-extra-large margin-two-bottom">
                    <div class="number">03.</div>
                    <div>
                        <span class="black-text font-weight-500  display-table">Applicant Evaluation</span>Applicant evaluation process helps the employers to find and select the best talent possible for an open position.
                        It involves applicant tracking, resume management, interviews and background checks.
                    </div>
                </li>
                <li class="position-relative font-weight-300 text-extra-large margin-two-bottom">
                    <div class="number">04.</div>
                    <div>
                        <span class="black-text font-weight-500  display-table">Employee Onboarding</span>Employee onboarding starts after the selection process is done. It's the process of integrating a new employee with
                        the company, its processes and culture.
                    </div>
                </li>
            </ul>
        </div>
        <div class="separator-line bg-yellow" id="second"></div>
        <h2 class="usermanual-sub-header-2">Employee Data Management</h2>
        <div class="col-md-12 pull-left xs-no-padding">
            <div class="col-md-6 chef-img cover-background padding-two"
                 style="background-image:url('/assets/images/hrm/employee-data.png');">
            </div>
            <ul>
                <li class="position-relative font-weight-300 text-extra-large margin-two-bottom">
                    <span class="number">01.</span>
                    <span>
                        <span class="black-text font-weight-500  display-table">General Information</span>Employee personal information, educational information, contact information, photos and documents are managed efficiently.
                    </span>
                </li>
                <li class="position-relative font-weight-300 text-extra-large margin-two-bottom">
                    <span class="number">02.</span>
                    <div>
                        <span class="black-text font-weight-500 display-table">Company Information</span>
                        This section contains vacation and sick leaves, benefit scheme, resume and tracking records, performance information, roles and responsibilities etc.
                    </div>
                </li>
                <li class="position-relative font-weight-300 text-extra-large margin-two-bottom">
                    <div class="number">03.</div>
                    <div>
                        <span class="black-text font-weight-500  display-table">Employee Profile</span>Employee profile is the summary and timeline of all factual and historical data available to the system.
                    </div>
                </li>
            </ul>
        </div>
        <h2 class="usermanual-sub-header-2" id="third">Benefit and Compensation Management</h2>

        <h2 class="usermanual-sub-header-2" id="forth">Time Tracking and Attendance System</h2>
        <h2 class="usermanual-sub-header-2" id="fifth">Employee Scheduling</h2>
        <h2 class="usermanual-sub-header-2" id="fifth">Employee Appraisal</h2>
        <h2 class="usermanual-sub-header-2" id="seventh">Payroll Processing</h2>
        <h2 class="usermanual-sub-header-2" id="eighth">Employee Self Service</h2>
    </div>
    <!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
