<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<!-- col -->
	<div class="col-md-3 col-sm-4 mobile-displaynone">
		<!-- toggle -->
		<div class="panel-group toggles-style2 usermanual-panel-fixed">
			<div class="panel panel-default">
				<div  id="type2-headingOne" class="panel-heading usermanual-panel">
					<h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
				</div>
			</div>
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Human Resource Management</h4></a>
				</div>

			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Financial Accounting</h4></a>
				</div>

			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Supply Chain Management</h4></a>
				</div>

			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Manufacturing Process Management</h4></a>
				</div>

			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Business Intelligence</h4></a>
				</div>

			</div>
			<!-- end toggle item -->

		</div>
		<!-- end toggle -->
	</div>
	<!-- end col -->
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Sub Modules</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#first">Employee Management</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#second">Time Tracking and Attendance System</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#third">Holiday Management</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#forth">Leave, Toil, Overtime Management</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#fifth">Scheduling and Rostering</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#sixth">Payroll Processing</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 col-xs-12 mob-padding">
		<h2 class="usermanual-sub-header">Human Resource Management</h2>
		<p class="usermanual-p" >justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
		<div class="separator-line bg-yellow" id="first"></div>
		<h2 class="usermanual-sub-header-2" >Employee Management</h2>
		<div class="separator-line bg-yellow" id="second"></div>
		<h2 class="usermanual-sub-header-2" >Time Tracking and Attendance System</h2>
		<ol class="usermanual-ol">
			<li class="usermanual-li">Click the <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click the Administration section and then Branches page.</li>
			<li class="usermanual-li">Click the Create button.</li>
		</ol>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>
		<h2 class="usermanual-sub-header-2" id="third">Holiday Management</h2>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>

		<h2 class="usermanual-sub-header-2" id="forth">Leave, Toil, Overtime Management</h2>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>
		<h2 class="usermanual-sub-header-2" id="fifth">Scheduling and Rostering</h2>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>

		<h2 class="usermanual-sub-header-2" id="sixth">Payroll Processing</h2>
	</div>
	<!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
