<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<%- include ../user-manual-hrm-leftbar.partial.ejs %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#createasset">To create an asset</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewasset">To view asset list</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#transferasset">To transfer an asset</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#disposeasset">To dispose an asset</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Financial Accounting</h2>
		<h2 class="usermanual-sub-header-2">Asset Management</h2>

		<p class="usermanual-p font-weight-600" id="createasset">To create an asset</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on Accounting section and then Assets page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/1.png" alt=""/>

			<li class="usermanual-li">Click on Create button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/4.png" alt=""/>

			<li class="usermanual-li">Select account and enter title and description of the asset in their respective field.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/5.png" alt=""/>

			<li class="usermanual-li">Enter its Value and select its Supplier.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/6.png" alt=""/>

			<li class="usermanual-li">Enter the date on which it has been purchased using the calendar button on the right.</li>
			<li class="usermanual-li">Select its revaluation type and provide necessary information.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/7.png" alt=""/>

			<li class="usermanual-li">Click on Add Payment Info button. </li>
			<li class="usermanual-li">In Payment Info window, select the medium of payment, enter amount of money and enter deduction. Click on Confirm button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/8.png" alt=""/>

			<li class="usermanual-li">Click on Submit button.</li>

		</ol>

		<p class="usermanual-p font-weight-600" id="viewasset">To view asset list</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on Accounting section and then Assets page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/1.png" alt=""/>

			<li class="usermanual-li">Get list of assets.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/2.png" alt=""/>

			<li class="usermanual-li">Search assets using number and asset name.</li>
			<li class="usermanual-li">Sort assets by number, title, account, branch, supplier, revaluation and current value by clicking on respective table head.</li>
			<li class="usermanual-li">Use Asset Filter option to filter assets by its branch, supplier and account.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/3.png" alt=""/>

			<li class="usermanual-li">Change Items Per Page to view more assets.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600" id="transferasset">To transfer an asset</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on Accounting section and then Assets page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/1.png" alt=""/>

			<li class="usermanual-li">Get list of assets.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/2.png" alt=""/>
			
			<li class="usermanual-li">From the list, find desired asset with search option, filter, sort or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the right side of the associated line and select Transfer Asset option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/9.png" alt=""/>

			<li class="usermanual-li">In Transfer Asset window, choose the branch to which you want to transfer.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/11.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button.</li>

		</ol>

		<p class="usermanual-p font-weight-600" id="disposeasset">To dispose an asset</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on Accounting section and then Assets page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/1.png" alt=""/>

			<li class="usermanual-li">Get list of assets.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/2.png" alt=""/>
			
			<li class="usermanual-li">From the list, find desired asset with search option, filter, sort or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the right side of the associated line and select Dispose Asset option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/9.png" alt=""/>

			<li class="usermanual-li">In Dispose Asset window, choose dispose type and enter its amount.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/asset-management/10.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button.</li>

		</ol>



		<p class="usermanual-p font-weight-600"></p>
		<p class="usermanual-p font-weight-600"></p>

		<h2 class="usermanual-sub-header-2" id="second">Second Level</h2>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>
		<ol class="usermanual-ol">
			<li class="usermanual-li">Click the <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click the Administration section and then Branches page.</li>
			<li class="usermanual-li">Click the Create button.</li>
		</ol>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
