<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<%- include('../user-manual-leftbar.partial.ejs', {activeSection: 'FA', activeModule: 'ledger-management'}) %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewledger">To view ledgers</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#transfercash">To transfer cash between branches</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Financial Accounting</h2>
		<h2 class="usermanual-sub-header-2">Ledger Management</h2>

		<p class="usermanual-p font-weight-600 same-page-link-top-offset" id="viewledger">To view ledgers</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Accounting</b> section and then <b>Chart of Accounts</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/ledger-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of legers sorted by account number.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/ledger-management/2.png" alt=""/>

			<li class="usermanual-li">Search ledgers using account number and account name.</li>
			<li class="usermanual-li">Sort ledgers by account number, account name and balance by clicking on respective table head.</li>
			<li class="usermanual-li">Use <b>Ledger Filter</b> option to filter ledgers by its type and branch.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/ledger-management/3.png" alt=""/>

			<li class="usermanual-li">Click on any account to see details of that ledger.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/journal-management/3.png" alt=""/>

			<li class="usermanual-li">Use <b>Ledger Filter</b> option to filter ledgers by entity name, entity and branch.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/journal-management/4.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600 same-page-link-top-offset" id="transfercash">To transfer cash between branches</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Accounting</b> section and then <b>Chart of Accounts</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/ledger-management/1.png" alt=""/>

			<li class="usermanual-li">Click on <b>Transfer Cash</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/ledger-management/4.png" alt=""/>

			<li class="usermanual-li">Use Dropdown button to <b>Select From Branch</b>. (Only admin has to do this) Use Dropdown button to <b>Select To Branch</b>. Enter amount of cash you want to transfer.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/ledger-management/5.png" alt=""/>

			<li class="usermanual-li">Click on <b>Confirm</b> button.</li>
			
		</ol>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
