<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<%- include('../user-manual-leftbar.partial.ejs', {activeSection: 'FA'}) %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewliabilities">To view liabilities</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#payliability">To pay any liability</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Financial Accounting</h2>
		<h2 class="usermanual-sub-header-2">Liability Management</h2>

		<p class="usermanual-p font-weight-600" id="viewliabilities">To view liabilities</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on Accounting section and then Liabilities page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/liability-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of liabilities.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/liability-management/2.png" alt=""/>

			<li class="usermanual-li">Use Liability Filter option to filter liabilities by entity name, entity, account and branch.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/liability-management/3.png" alt=""/>

			<li class="usermanual-li">Change Items Per Page to view more liabilities.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600" id="payliability">To pay any liability</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on Accounting section and then Liabilities page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/liability-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of liabilities and accounts payable.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/liability-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired liabilities with filter or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Click on the Pay button on the right of desired liability.</li>
			<li class="usermanual-li">Select the medium of payment, enter amount of money and deducted money.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/liability-management/4.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button.</li>

		</ol>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
