<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<%- include('../user-manual-leftbar.partial.ejs', {activeSection: 'FA'}) %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewvoucher">To view vouchers</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#payvoucher">To pay voucher payments</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Financial Accounting</h2>
		<h2 class="usermanual-sub-header-2">Voucher Management</h2>


		<p class="usermanual-p font-weight-600" id="viewvoucher">To view vouchers</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Accounting</b> section and then <b>Vouchers</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/voucher-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of vouchers.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/voucher-management/2.png" alt=""/>

			<li class="usermanual-li">Search vouchers using serial number.</li>
			<li class="usermanual-li">Sort vouchers by total and due date by clicking on respective table head.</li>
			<li class="usermanual-li">Use <b>Voucher Filter</b> option to filter invoices by its branch and customer.</li>
			<li class="usermanual-li">To filter vouchers by maturity, click on dropdown button at the right of maturity and select desired option. Click on <b>Apply</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/invoice-management/4.png" alt=""/>

			<li class="usermanual-li">Change <b>Items Per Page</b> to view more vouchers.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600" id="payvoucher">To pay voucher payments</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>Accounting</b> section and then <b>Vouchers</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/voucher-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of vouchers.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/voucher-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired voucher with filter, sort, search or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the right of the particular voucher and select <b>Pay</b> option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/voucher-management/3.png" alt=""/>

			<li class="usermanual-li">Select the medium of payment, enter amount of money and deducted money and provide necessary information.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/financial-accounting/invoice-management/8.png" alt=""/>

			<li class="usermanual-li">Click on <b>Confirm</b> button.</li>
			
		</ol>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
