<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<!-- col -->
	<div class="col-md-3 col-sm-4 mobile-displaynone">
		<!-- toggle -->
		<div class="panel-group toggles-style2 usermanual-panel-fixed">
			<div class="panel panel-default">
				<div  id="type2-headingOne" class="panel-heading usermanual-panel">
					<h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
				</div>
			</div>
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link1"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Human Resource Management<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link1" class="panel-collapse collapse in">
					<div class="panel-body usermanual-panelbody">
						<a class="usermanual-hover" href=""><h5 class="sub-manu-2nd">Payroll</h5></a>
						<a class="usermanual-hover" href=""><h5 class="sub-manu-2nd">abc</h5></a>
					</div>
				</div>
			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default">
				<div role="tablist" id="type2-headingTwo" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link2"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Collapse Item #2<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link2" class="panel-collapse collapse">
					<div class="panel-body usermanual-panelbody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</div>
				</div>
			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default">
				<div role="tablist" id="type2-headingThree" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link3"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Collapse Item #3<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link3" class="panel-collapse collapse">
					<div class="panel-body usermanual-panelbody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</div>
				</div>
			</div>
			<!-- end toggle item -->
		</div>
		<!-- end toggle -->
	</div>
	<!-- end col -->
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#first">First</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#third">Third</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7">
		<h2 class="usermanual-sub-header" id="first"> Introduction to Loence ERP</h2>
		<p class="usermanual-p">justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>


		<h2 class="usermanual-sub-header-2" id="second">Second Level</h2>
		<ol class="usermanual-ol">
			<li class="usermanual-li">Click the <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click the Administration section and then Branches page.</li>
			<li class="usermanual-li">Click the Create button.</li>
		</ol>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>

	</div>
	<!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
