<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Loence HRM- a customizable human resource management software</title>
    <meta name="description" content="Loence Human Resource Management system helps organizations to manage their
          people to achieve business objectives and maintain employee satisfaction. We offer customization, scalability,
          ease of use with moderate pricing and reliable support
    ">
    <link rel="stylesheet" href="/assets/css/custom-classes.css">
    <%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">

    <div class="col-md-8 col-md-offset-2 col-sm-8 col-xs-12 mob-padding">

        <h2 class="usermanual-sub-header">Prithul Sarker</h2>
        <p class="usermanual-p">
            Prithul Sarker Human resource management (HRM) deals with both the people who work for the organization and the department
            responsible for managing resources related to the people. Often referred to as personnel management,
            human resource management involved in overseeing all things related to managing a companies human capital.
        </p>

        <div class="col-md-12">
            <h2 class="usermanual-sub-header" style="text-align: center;">Human Resource Management</h2>
            <div class="col-md-6">
                <ul class="usermanual-ol umindex-ul">
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/employee-management">Employee Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/attendance-management">Attendance Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/payroll-management">Payroll Management</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="usermanual-ol umindex-li">
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/hr-loan-management">HR-Loan Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/holiday-management">Holiday Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/attendance-device-management">Attendance Device Management</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <h2 class="usermanual-sub-header" style="text-align: center;">Supply Chain Management</h2>
            <div class="col-md-6">
                <ul class="usermanual-ol umindex-ul">
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/supply-chain-management/customer-management">Customer Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/supply-chain-management/delivery-management">Delivery Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/supply-chain-management/orders-management">Orders Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/supply-chain-management/purchase-management">Purchase Management</a></li>

                </ul>
            </div>
            <div class="col-md-6">
                <ul class="usermanual-ol umindex-li">
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/supply-chain-management/reception-management">Reception Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/supply-chain-management/sales-management">Sales Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/supply-chain-management/supplier-management">Supplier Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/supply-chain-management/warehouse-management">Warehouse Management</a></li>

                </ul>
            </div>
            <div class="clearfix"></div>
            <h2 class="usermanual-sub-header" style="text-align: center;">Financial Accounting</h2>
            <div class="col-md-6">
                <ul class="usermanual-ol umindex-ul">
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/financial-accounting/asset-management">Asset Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/financial-accounting/expense-management">Expense Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/financial-accounting/invoice-management">Invoice Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/financial-accounting/journal-management">Journal Management</a></li>

                </ul>
            </div>
            <div class="col-md-6">
                <ul class="usermanual-ol umindex-li">
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/financial-accounting/ledger-management">Ledger Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/financial-accounting/liability-management">Liability Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/financial-accounting/receipt-management">Receipt Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/financial-accounting/voucher-management">Voucher Management</a></li>

                </ul>
            </div>

        </div>
    </div>
    <!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
