<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Loence HRM- a customizable human resource management software</title>
    <meta name="description" content="Loence Human Resource Management system helps organizations to manage their
          people to achieve business objectives and maintain employee satisfaction. We offer customization, scalability,
          ease of use with moderate pricing and reliable support
    ">
    <link rel="stylesheet" href="/assets/css/custom-classes.css">
    <%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
    <%- include ../modules-leftbar.partial.ejs %>

    <div class="col-md-8 col-sm-8 col-xs-12 mob-padding">

        <h2 class="usermanual-sub-header">What is Human Resource Management?</h2>
        <p class="usermanual-p">
            Human resource management (HRM) deals with both the people who work for the organization and the department
            responsible for managing resources related to the people. Often referred to as personnel management,
            human resource management involved in overseeing all things related to managing a companies human capital.
        </p>
        <h2 class="usermanual-sub-header">Features of Loence Human Resource Management in Bangladesh</h2>
        <p class="usermanual-p">
           Loence HRM is a world class human resource management software in Bangladesh. It's cutting edge technology and sophisticated design made Loence HRM easy and comfortable to use.
            With customizability and scalability ensured we offer following features to manage your human resource with sophistication.
        </p>

        <div class="col-md-12">
            <h2 class="usermanual-sub-header">HRM</h2>
            <div class="col-md-6">
                <ul class="usermanual-ol umindex-ul">
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/">Employee Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/"></a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/"></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="usermanual-ol umindex-li">
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/">Employee Management</a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/"></a></li>
                    <li class="umindex-li"><a class="umindex-a" href="/user-manual/human-resource-management/"></a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
