<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<a class="logo-light" href="/">
					<img alt="" src="/assets/images/logo/logo2.png" class="logo" />
				</a>
				<a class="logo-dark" href="/">
					<img alt="" src="/assets/images/logo/logo2.png" class="logo" />
				</a>
			</div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="col-md-9 text-right pc-displaynone">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<!-- menu item -->
						<li class="dropdown panel simple-dropdown">
							<a href="#collapse8" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Supply Chain Management</a>
							<!-- sub menu item  -->
							<ul id="collapse8" class="dropdown-menu panel-collapse collapse" role="menu">
								<li><a href="">a</a></li>
								<li><a href="">a</a></li>
								<li><a href="">a</a></li>
							</ul>
							<!-- end sub menu item  -->
						</li>
						<!-- menu item -->
						<li class="dropdown panel simple-dropdown">
							<a href="#collapse8" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Human Resource Management</a>
							<!-- sub menu item  -->
							<ul id="collapse8" class="dropdown-menu panel-collapse collapse" role="menu">
								<li><a href="">a</a></li>
								<li><a href="">a</a></li>
								<li><a href="">a</a></li>
							</ul>
							<!-- end sub menu item  -->
						</li>
						<!-- menu item -->
						<li class="dropdown panel simple-dropdown">
							<a href="#collapse8" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Financial Accounting</a>
							<!-- sub menu item  -->
							<ul id="collapse8" class="dropdown-menu panel-collapse collapse" role="menu">
								<li><a href="">a</a></li>
								<li><a href="">a</a></li>
								<li><a href="">a</a></li>
							</ul>
							<!-- end sub menu item  -->
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>