<!-- col -->
<div class="col-md-3 col-sm-4 mobile-displaynone">
	<!-- toggle -->
	<div class="panel-group toggles-style2 usermanual-panel-fixed">
		<div class="panel panel-default">
			<div  id="type2-headingOne" class="panel-heading usermanual-panel">
				<h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
			</div>
		</div>
		<!-- toggle item -->
		<div class="panel panel-default active" id="collapse-two">
			<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
				<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link1"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Human Resource Management<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
			</div>
			<div id="collapse-two-link1" class="panel-collapse collapse in">
				<div class="panel-body usermanual-panelbody">
					<a class="usermanual-hover" href="/user-manual/human-resource-management/employee-management"><h5 class="sub-manu-2nd">Employee Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/attendance-management"><h5 class="sub-manu-2nd">Attendance Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/payroll-management"><h5 class="sub-manu-2nd">Payroll Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/hr-loan-management"><h5 class="sub-manu-2nd">HR-Loan Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/holiday-management"><h5 class="sub-manu-2nd">Holiday Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/attendance-device-management"><h5 class="sub-manu-2nd">Attendance Device Management</h5></a>
				</div>
			</div>
		</div>
		<!-- end toggle item -->
		<!-- toggle item -->
		<div class="panel panel-default">
			<div role="tablist" id="type2-headingTwo" class="panel-heading usermanual-panel">
				<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link2"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Supply Chain Management<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
			</div>
			<div id="collapse-two-link2" class="panel-collapse collapse">
				<div class="panel-body usermanual-panelbody">
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/customer-management"><h5 class="sub-manu-2nd">Customer Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/delivery-management"><h5 class="sub-manu-2nd">Delivery Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/orders-management"><h5 class="sub-manu-2nd">Orders Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/purchase-management"><h5 class="sub-manu-2nd">Purchase Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/reception-management"><h5 class="sub-manu-2nd">Reception Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/salse-management"><h5 class="sub-manu-2nd">Sales Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/supplier-management"><h5 class="sub-manu-2nd">Supplier Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/warehouse-management"><h5 class="sub-manu-2nd">Warehouse Management</h5></a>
				</div>
			</div>
		</div>
		<!-- end toggle item -->
		<!-- toggle item -->
		<div class="panel panel-default">
			<div role="tablist" id="type2-headingThree" class="panel-heading usermanual-panel">
				<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link3"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Financial Accounting<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
			</div>
			<div id="collapse-two-link3" class="panel-collapse collapse">
				<div class="panel-body usermanual-panelbody">
					<a class="usermanual-hover" href="/user-manual/financial-accounting/asset-management"><h5 class="sub-manu-2nd">Asset Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/expense-management"><h5 class="sub-manu-2nd">Expense Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/invoice-management"><h5 class="sub-manu-2nd">Invoice Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/journal-management"><h5 class="sub-manu-2nd">Journal Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/ledger-management"><h5 class="sub-manu-2nd">Ledger Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/liability-management"><h5 class="sub-manu-2nd">Liability Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/receipt-management"><h5 class="sub-manu-2nd">Receipt Management</h5></a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/voucher-management"><h5 class="sub-manu-2nd">Voucher Management</h5></a>

				</div>
			</div>
		</div>
		<!-- end toggle item -->
	</div>
	<!-- end toggle -->
</div>
<!-- end col -->