<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Loence SCM- a proficient supply chain management software in Bangladesh</title>
    <meta name="description" content="Supply chain management software is a business tool that helps you manage your supply chain with greater efficiency.
            A proper supply chain management maximizes the reliability and efficiency of distribution networks and manage end-to-end inventory in real time while minimizing total cost of storage costs and ownership.">
    <link rel="stylesheet" href="/assets/css/custom-classes.css">
    <%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
    <%- include ../modules-leftbar.partial.ejs %>

    <div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
        <aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky
               data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
            <h4 class="toc-submenu">SCM Features</h4>
            <ul class="nav nav-list flex-column mb-4 show-bg-active">
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#lead-management">Lead Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#sales-order-management">Sales Order Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#work-order-processing">Work Order Processing</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#crm">Customer Relationship Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#procurement">Procurement</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#srm">Supplier Relationship Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#material-management">Material Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#cwip-management">CWIP Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#product-management">Product Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#warehouse-management">Warehouse Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#logistics">Logistics</a></li>
            </ul>
        </aside>
    </div>


    <div class="col-md-7 col-sm-7 col-xs-12 mob-padding">
        <section id="project-img" class="no-padding module-content-top-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown module-half-project-img"
                         style="background-image:url('/assets/images/scm/scmmodule2.jpg');">
                        <div class="opacity-medium bg-dark-gray"></div>
                        <div class="project-header-text">
                            <h1 class="project-title white-text">Loence Supply Chain Management</h1>
                            <b class="white-text">A customizable, scalable and easy to use proficient SCM solution with
                                reliable support in Bangladesh </b>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="usermanual-sub-header">What is Supply Chain Management?</h2>
        <p class="usermanual-p">
            Supply chain management software is a business tool that helps you manage your supply chain with greater
            efficiency.
            A proper supply chain management maximizes the reliability and efficiency of distribution networks and
            manage end-to-end inventory in real time while minimizing total cost of storage and ownership.
        </p>

        <h2 class="usermanual-sub-header">Features of Loence Supply Chain Management Software in Bangladesh</h2>
        <p class="usermanual-p">
            Loence SCM is built to fit in the context of Bangladesh. It's a modern and customizable solution. Features includes following and so on...
        </p>
        <h2 class="usermanual-sub-header-2" id="lead-management">Lead Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-355">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Capture Leads</h2>
                                        <p class="custom-p">Capture your leads from different sources and import them
                                            easily.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-355">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Lead Screening</h2>
                                        <p class="custom-p"> Score the leads based on quality and identify the best
                                            leads to chase.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-300">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Distribute Leads</h2>
                                        <p class="custom-p">
                                            Assign leads to appropriate sale personnel manually or automatically base on
                                            settings.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-300">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Timeline and Alerts</h2>
                                        <p class="custom-p">
                                            See a comprehensive lead timeline. Get notified when a lead needs your
                                            attention
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-300">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Sales Tracking</h2>
                                        <p class="custom-p">
                                            Track lead to sales conversion along with sales person and product data.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <h2 class="usermanual-sub-header-2" id="sales-order-management">Sales Order Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Placement</h2>
                                        <p class="custom-p modulecard-p">Place sales order with easy and
                                            search-and-select interactions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Challan Creation</h2>
                                        <p class="custom-p modulecard-p">Create challan from sales order, create
                                            neccessary bills and invoices </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Barcode/RFID integration</h2>
                                        <p class="custom-p modulecard-p">Track merchandises and packages with barcode or
                                            RFID technology</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Performance Tracking</h2>
                                        <p class="custom-p modulecard-p">Track performance of merchandise, territory or
                                            sales representative based or sales revenue earned.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="work-order-processing">Work Order Processing</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Placement</h2>
                                        <p class="custom-p modulecard-p">Create work orders by entering all necessary
                                            information. You can copy previous order and initiate a new one</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Approval</h2>
                                        <p class="custom-p modulecard-p">Admin can review, revise and approve the work
                                            order to progress to next step.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Process Order</h2>
                                        <p class="custom-p modulecard-p">After approval, a work order is assigned to a
                                            manager/department who process the order.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Shipment</h2>
                                        <p class="custom-p modulecard-p">Order shipment involves shipment of processed
                                            work to the customer. Invoicing and billing are done here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="crm">Customer Relationship Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Customer Information</h2>
                                        <p class="custom-p modulecard-p">Customer data such as contact information,
                                            support interactions, demographics, and transactions are managed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Customer Profile</h2>
                                        <p class="custom-p modulecard-p">A comprehensive timeline of tasks, deals and
                                            transactions with the customer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="procurement">Procurement</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Purchase Order Placement</h2>
                                        <p class="custom-p modulecard-p">Create purchase order entering necessary information using an easy and search-and-select interface</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payment</h2>
                                        <p class="custom-p modulecard-p">Pay your supplier by cash, cheque, bank transfer or letter of credit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Tracking</h2>
                                        <p class="custom-p modulecard-p">Track your purchase order from placement to reception.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Requisitioning</h2>
                                        <p class="custom-p modulecard-p">Provide employees a consumer-like buying experience and ensure a negotiated pricing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>
        <h2 class="usermanual-sub-header-2" id="srm">Supplier Relationship Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Supplier Information</h2>
                                        <p class="custom-p modulecard-p">Customer data such as contact information,
                                            demographics, and transactions are managed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Supplier Profile</h2>
                                        <p class="custom-p modulecard-p">A comprehensive timeline of tasks, deals and
                                            transactions with the customer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <h2 class="usermanual-sub-header-2" id="material-management">Material Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Material Information</h2>
                                        <p class="custom-p modulecard-p">Create and update raw materials. Browse materials in sophisticated data grid.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Costing and Pricing</h2>
                                        <p class="custom-p modulecard-p">Once initiated costing and pricing of materials are updated automatically responding to relevant changes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <h2 class="usermanual-sub-header-2" id="cwip-management">CWIP Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">CWIP Information</h2>
                                        <p class="custom-p modulecard-p">Define CWIP with necessary material and parts information. Browse CWIP's in a sophisticated data grid.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Costing and Pricing</h2>
                                        <p class="custom-p modulecard-p">Once initiated costing and pricing of CWIPs are updated automatically responding to relevant changes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <h2 class="usermanual-sub-header-2" id="product-management">Product Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Product Information</h2>
                                        <p class="custom-p modulecard-p">Define product with necessary material, CWIPs and  parts information. Browse products in a interactive data grid</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Costing and Pricing</h2>
                                        <p class="custom-p modulecard-p">Once initiated costing and pricing of products are updated automatically responding to relevant changes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <h2 class="usermanual-sub-header-2" id="warehouse-management">Warehouse Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Materials Tracking</h2>
                                        <p class="custom-p modulecard-p">Track usage and inventory levels of raw materials, CWIP, finished goods, merchandises, byproducts and wastages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Automatic Recording</h2>
                                        <p class="custom-p modulecard-p">Automatic recording of warehouse increase and decrease due to purchase, manufacturing and sales</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Multiple warehouse</h2>
                                        <p class="custom-p modulecard-p">Manage inventory both both in centralised and decentralised in multiple warehouse.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Barcode/QR code/ RFID  tracking</h2>
                                        <p class="custom-p modulecard-p">Track your inventories eith advanced barcoding, QR coding or RFID tracking</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <h2 class="usermanual-sub-header-2" id="logistics">Logistics</h2>

        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Inbound Transportation</h2>
                                        <p class="custom-p modulecard-p">Manage transportation occurred after importing raw materials or making an local purchase.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Fleet Management</h2>
                                        <p class="custom-p modulecard-p">Track your vehicle asset records, history, mileage to improve efficiency and reduce cost </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Inventory Control</h2>
                                        <p class="custom-p modulecard-p">Monitor and control flow of inventory for both external transaction and transportation among your warhouses.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Outbound Transportation</h2>
                                        <p class="custom-p modulecard-p">Manage transportation after sales occur or after disposal of assets.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
    <!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
