<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Loence SCM- a proficient supply chain management software in Bangladesh</title>
    <meta name="description" content="Supply chain management software is a business tool that helps you manage your supply chain with greater efficiency.
            A proper supply chain management maximizes the reliability and efficiency of distribution networks and manage end-to-end inventory in real time while minimizing total cost of storage costs and ownership.">
    <link rel="stylesheet" href="/assets/css/custom-classes.css">
    <%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
    <%- include ../modules-leftbar.partial.ejs %>

    <div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
        <aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky
               data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
            <h4 class="toc-submenu">SCM Features</h4>
            <ul class="nav nav-list flex-column mb-4 show-bg-active">
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#lead-management">Lead Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#sales-order-management">Sales Order Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#work-order-processing">Work Order Processing</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#crm">Customer Relationship Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#procurement">Procurement</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#srm">Supplier Relationship Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#material-management">Material Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#cwip-management">CWIP Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#product-management">Product Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#warehouse-management">Warehouse Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#logistics">Logistics</a></li>
            </ul>
        </aside>
    </div>


    <div class="col-md-7 col-sm-7 col-xs-12 mob-padding">
        <section id="project-img" class="no-padding module-content-top-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown module-half-project-img"
                         style="background-image:url('/assets/images/scm/scmmodule2.jpg');">
                        <div class="opacity-medium bg-dark-gray"></div>
                        <div class="project-header-text">
                            <h1 class="project-title white-text">Loence Supply Chain Management</h1>
                            <b class="white-text">A customizable, scalable and easy to use proficient SCM solution with
                                reliable support in Bangladesh </b>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="usermanual-sub-header">What is Supply Chain Management?</h2>
        <p class="usermanual-p">
            Supply chain management software is a business tool that helps you manage your supply chain with greater
            efficiency.
            A proper supply chain management maximizes the reliability and efficiency of distribution networks and
            manage end-to-end inventory in real time while minimizing total cost of storage and ownership.
        </p>
        <h2 class="usermanual-sub-header-2" id="lead-management">Lead Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-355">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Capture Leads</h2>
                                        <p class="custom-p">Capture your leads from different sources and import them
                                            easily.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-355">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Lead Screening</h2>
                                        <p class="custom-p"> Score the leads based on quality and identify the best
                                            leads to chase.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-300">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Distribute Leads</h2>
                                        <p class="custom-p">
                                            Assign leads to appropriate sale personnel manually or automatically base on
                                            settings.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-300">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Timeline and Alerts</h2>
                                        <p class="custom-p">
                                            See a comprehensive lead timeline. Get notified when a lead needs your
                                            attention
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-300">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Sales Tracking</h2>
                                        <p class="custom-p">
                                            Track lead to sales conversion along with sales person and product data.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <h2 class="usermanual-sub-header-2" id="sales-order-management">Sales Order Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Placement</h2>
                                        <p class="custom-p modulecard-p">Place sales order with easy and
                                            search-and-select interactions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Challan Creation</h2>
                                        <p class="custom-p modulecard-p">Create challan from sales order, create
                                            neccessary bills and invoices </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Barcode/RFID integration</h2>
                                        <p class="custom-p modulecard-p">Track merchandises and packages with barcode or
                                            RFID technology</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Performance Tracking</h2>
                                        <p class="custom-p modulecard-p">Track performance of merchandise, territory or
                                            sales representative based or sales revenue earned.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="work-order-processing">Work Order Processing</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Placement</h2>
                                        <p class="custom-p modulecard-p">Create work orders by entering all necessary
                                            information. You can copy previous order and initiate a new one</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Approval</h2>
                                        <p class="custom-p modulecard-p">Admin can review, revise and approve the work
                                            order to progress to next step.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Process Order</h2>
                                        <p class="custom-p modulecard-p">After approval, a work order is assigned to a manager/department who process the order.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Order Shipment</h2>
                                        <p class="custom-p modulecard-p">Order shipment involves shipment of processed work to the customer. Invoicing and billing are done here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="crm">Customer Relationship Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Customer Information</h2>
                                        <p class="custom-p modulecard-p">Customer data such as contact information, support interactions, demographics, and transactions are managed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Customer Profile</h2>
                                        <p class="custom-p modulecard-p">A comprehensive timeline of tasks, deals and transactions with the customer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Time Tracking</h2>
                                        <p class="custom-p modulecard-p">Employee profile is
                                            the summary and timeline of all factual and historical data available to the
                                            system.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Overtime Tracking</h2>
                                        <p class="custom-p modulecard-p">Employee profile is
                                            the summary and timeline of all factual and historical data available to the
                                            system.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Leave Management</h2>
                                        <p class="custom-p modulecard-p">Employee profile is the
                                            summary and timeline of all factual and historical data available to the
                                            system.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Biometric/RFID Attendance Tracking</h2>
                                        <p class="custom-p modulecard-p">Employee profile
                                            is the summary and timeline of all factual and historical data available to
                                            the system.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Scheduling and Rostering</h2>
                                        <p class="custom-p modulecard-p">Employee profile is the
                                            summary and timeline of all factual and historical data available to the
                                            system.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Attendance Penalty</h2>
                                        <p class="custom-p modulecard-p">Employee profile
                                            is the summary and timeline of all factual and historical data available to
                                            the system.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="fifth">Employee Appraisal</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">360 Feedback</h2>
                                        <p class="custom-p modulecard-p">This involves getting feedback about employees
                                            from their peers, subordinates, supervisor and customers who have interacted
                                            during the period.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Goal Setting and Progress Tracking</h2>
                                        <p class="custom-p modulecard-p">With customized set of key performance
                                            indicators, managers can set performance goals for employees and track their
                                            progress with visual and comparative reporting.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Behavioral Rating</h2>
                                        <p class="custom-p modulecard-p">Managers can assess and report behavioral
                                            rating for an employee after a specific observation period.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Learning and Professional Development</h2>
                                        <p class="custom-p modulecard-p">Our learning management system enable you to
                                            document, track and report educational courses, training programs,
                                            competency test of personnel.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="seventh">Payroll Processing</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payroll Sheet</h2>
                                        <p class="custom-p modulecard-p">A payroll sheet is generated automatically
                                            calculating attendance, compensation, rewards, advance salary, meal charge,
                                            HR loan and other factors. You can print the payroll sheet and export as
                                            excel sheet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payroll Approval</h2>
                                        <p class="custom-p modulecard-p">Admins can check and correct the salary sheet.
                                            If the salary sheet is ready authority can approve payroll for the
                                            particular month.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Salary Disbursement</h2>
                                        <p class="custom-p modulecard-p">After the salary is approved by authority,
                                            salary disbursement comes into play. You can pay with cash, bank or cheque.
                                            Our bulk disbursement feature helps to disburse multiple salary at once.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payroll Accounting</h2>
                                        <p class="custom-p modulecard-p">Payroll accounting entries are automatically
                                            journalized and due salary are converted to payable vouchers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Salary Slip and Vouchers</h2>
                                        <p class="custom-p modulecard-p">Salary slips and vouchers are always ready to
                                            print</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payroll Summary</h2>
                                        <p class="custom-p modulecard-p">A comprehensive summary of payroll is presented
                                            with sophisticated visual representation. You can browse payroll history and
                                            perform comparison among payroll periods.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <h2 class="usermanual-sub-header-2" id="eighth">Employee Self Service</h2>

        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Employee Information</h2>
                                        <p class="custom-p modulecard-p">View and update personal information,
                                            educational
                                            information, contact information, photos and documents are managed
                                            efficiently. Some updates are subjected to approval from higher
                                            authorities.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Monitor Financial Details</h2>
                                        <p class="custom-p modulecard-p">Employees can monitor benefits, compensation,
                                            rewards, loan, expense or other financial details from self service
                                            portal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Requesting and Reporting</h2>
                                        <p class="custom-p modulecard-p">This features enables employees to request paid
                                            time off, unpaid leaves, toil or overtime.
                                            They can report expenses and other activities from the portal </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Surveys, Review and Feedback</h2>
                                        <p class="custom-p modulecard-p">Employees can participate in surveys and
                                            reviews. They can access the 360 feedback system from the self service
                                            portal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Access to resource, policies, notices and
                                            schedules</h2>
                                        <p class="custom-p modulecard-p">
                                            Employee can view schedules, notifications or announcements logging in to
                                            the ESS. The have access to shared handbooks, policies and other resources.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
    <!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
