.pb0 {
    padding-bottom: 0;
}

.pt30, .dpt30 {
    padding-top: 30px;
}

.col2 {
    width: calc(100%/2 - 5px);
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.col-container {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
}

.col-container-module {
    width: 90%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
}

.tour-cate-box {
    background-color: #fff;
    text-align: center;
    padding: 1em;
    border-color: #e3ebfc;
    box-shadow: 0 0.75rem 1.625rem 0 rgba(54,141,255,.1);
    border-width: .0625rem;
    border-style: solid;
    border-radius: .5rem;
    align-items: center;
    display: flex;
    min-height: 220px;
}

@media (max-width: 992px) {
    .tour-cate-box {
        display: grid !important;
    }
}

.fl-left {
    float: left;
}

.tour-cate-box-module {
    background-color: #fff;
    text-align: center;
    padding: 1em;
    border-color: #e3ebfc;
    box-shadow: 0 0.75rem 1.625rem 0 rgba(54,141,255,.1);
    border-width: .0625rem;
    border-style: solid;
    border-radius: .5rem;
    align-items: center;
    display: flex;
    /* min-height: 220px; */
}