<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Loence Manufacturing Process Management Software in Bangladesh</title>
    <meta name="description" content="Loence Manufacturing Process Management system helps organizations to manage their
          manufacturing activities. The production processes can be made more efficient and responsive by a properly implemented MPM system like we offer. We offer customization, scalability,
          ease of use with moderate pricing and reliable support
    ">
    <link rel="stylesheet" href="/assets/css/custom-classes.css">
    <%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
    <%- include('../modules-leftbar.partial.ejs', {activeModule: 'MPM'}) %>

    <div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
        <aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky
               data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
            <h4 class="toc-submenu">HRM Features</h4>
            <ul class="nav nav-list flex-column mb-4 show-bg-active">
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#material-management">Material Control</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#bom-management">Bill of Materials Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#plant-management">Manufacturing Plant Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#execution-system">Manufacturing Execution System</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#master-scheduling">Master Production Scheduling</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#quality-control">Quality Control</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#recycling-management">Recycling Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#manufacturing-accounting">Manufacturing Accounting</a></li>
            </ul>
        </aside>
    </div>


    <div class="col-md-7 col-sm-7 col-xs-12 mob-padding">
        <section id="project-img" class="no-padding module-content-top-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown module-half-project-img"
                         style="background-image:url('/assets/images/manufacturing.jpg');">
                        <div class="opacity-medium bg-dark-gray"></div>
                        <div class="project-header-text">
                            <h1 class="project-title white-text">Loence Manufacturing Process Management</h1>
                            <b class="white-text">A customizable, scalable and easy to use modern manufacturing process management software with
                                reliable support. </b>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="usermanual-sub-header">What is Manufacturing Process Management?</h2>
        <p class="usermanual-p">
            Manufacturing Process Management (MPM) is the process of defining and managing the manufacturing processes used to make parts, assemble final products, and perform inspections.
            MPM receives the digital product definition from engineering, considers the capabilities and capacities of internal plants and external suppliers, and delivers
            the set of manufacturing plans required to produce right product at the right moment and right quantity.
        </p>
        <h2 class="usermanual-sub-header">Features of Loence Manufacturing Process Management System in Bangladesh</h2>
        <p class="usermanual-p">
            Loence Manufacturing Process Management system helps organizations to manage their
            manufacturing activities. The production processes can be made more efficient and responsive by a properly implemented MPM system like we offer. We offer customization, scalability,
            ease of use with moderate pricing and reliable support. Following is a list of features-
        </p>
        <h2 class="usermanual-sub-header-2  same-page-link-top-offset" id="material-control">Material Control</h2>
        <h2 class="usermanual-sub-header-2 same-page-link-top-offset" id="bom-management">Bill of Materials Management</h2>
        <h2 class="usermanual-sub-header-2 same-page-link-top-offset" id="plant-management">Manufacturing Plant Management</h2>
        <h2 class="usermanual-sub-header-2 same-page-link-top-offset" id="execution-system">Manufacturing Execution System</h2>
        <h2 class="usermanual-sub-header-2 same-page-link-top-offset" id="master-scheduling">Master Production Scheduling</h2>
        <h2 class="usermanual-sub-header-2 same-page-link-top-offset" id="quality-control">Quality Control</h2>
        <h2 class="usermanual-sub-header-2 same-page-link-top-offset" id="recycling-management">Recycling Management</h2>
        <h2 class="usermanual-sub-header-2 same-page-link-top-offset" id="manufacturing-accountin">Manufacturing Accounting</h2>

    </div>
    <!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
