<!-- footer -->
<footer>
	<div class="container onepage-footer-middle" style="border-top: 1px solid gray;">
		<div class="row">
			<div class="col-md-12 col-sm-12 footer-social text-right text-center">
				<!-- social media link -->
				<a target="_blank" href="https://www.facebook.com/loencetech/">
					<i class="fa fa-facebook"></i>
				</a>
				<a target="_blank" href="https://twitter.com/">
					<i class="fa fa-twitter"></i>
				</a>
				<a target="_blank" href="https://plus.google.com/">
					<i class="fa fa-google-plus"></i>
				</a>
				<a target="_blank" href="https://dribbble.com/">
					<i class="fa fa-dribbble"></i>
				</a>
				<a target="_blank" href="https://www.youtube.com/">
					<i class="fa fa-youtube"></i>
				</a>
				<a target="_blank" href="https://www.linkedin.com/">
					<i class="fa fa-linkedin"></i>
				</a>
				<!-- end social media link -->
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark-gray footer-bottom">
		<div class="container">
			<div class="row margin-three">
				<!-- copyright -->
				<div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
					&copy; 2018 Loence.com All Right Reserved.
				</div>
				<!-- end copyright -->
				<!-- logo -->
				<div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
					<a href="/">
						<img src="assets/images/logo/logofooter.PNG" alt="Loence Logo" />
					</a>
				</div>
				<!-- end logo -->
			</div>
		</div>
	</div>
	<!-- scroll to top -->
	<a href="javascript:;" class="scrollToTop">
		<i class="fa fa-angle-up"></i>
	</a>
	<!-- scroll to top end... -->
</footer>
