<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence HRM- a customizable human resource management software</title>
	<meta name="description" content="Loence Human  Resource  Management  system  helps  organizations  to  manage  their
people to achieve business objectives and maintain employee satisfaction. We offer customization, scalability, ease of use with moderate pricing and reliable support">
	<% include src/ejs/header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include src/ejs/navigation.partial.ejs %>

<!-- section text -->
<section id="project-img" class="no-padding content-top-margin">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown" style="background-image:url('/assets/images/hrm/hrmodule.jpg');">
				<div class="opacity-medium bg-dark-gray"></div>
				<div class="container">
					<div class="project-header-text">
						<h1 class="project-title white-text">Loence Human Resource Management</h1>
						<b class="white-text">A customizable, scalable, easy to use modern HRM solution with reliable support </b>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="our-services" class="our-services no-padding bcmodule">
	<div class="col-md-12">
		<div class="col-md-5 bg-light-gray padding-five sm-display-table xs-display-inherit xs-text-center cover-background xs-onepage-section">
		<div class="col-lg-11 col-md-12 pull-right xs-no-padding xs-pull-none">
			<h1 class="text-transform-none title margin-ten no-margin-lr no-margin-top">Overview</h1>
			<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300">Manage and oversee various aspects of employment, administration of employee benefits, and some aspects of recruitment and dismissal.</div>
			<div class="margin-ten no-margin-lr linehight35 no-margin-top font-22px font-weight-300">Manage wages and salaries evaluating performance, train and plan personnel needs, communicate with all employees at all levels making employees more developed and valuable to the organization.</div>
		</div>
	</div>
		<div class="col-md-7 bg-gray-light padding-five no-padding-left no-padding-bottom sm-padding-bottom-six sm-display-table">
		<div class="col-lg-11 col-md-12 pull-left xs-no-padding">
			<h1 class="h1mp text-transform-none title margin-ten no-margin-lr no-margin-top">Business Advantages</h1>
			<ul>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">01.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Employee Satisfaction</span>Employee management using human resource module is transparent to employees of all stages. Every process starting from attendance to salary is automated; therefore there is no room for error.</div>
				</li>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">02.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Performance Improvement</span>While typically managers invest many hours to make payroll sheet calculating various digits and going through attendance books at the start of a month, using ERP managers can spend those hours to do other productive works since payroll sheets are generated automatically.</div>
				</li>
				<li class="position-relative font-weight-300 text-extra-large margin-seven-bottom">
					<div class="number">03.</div>
					<div><span class="black-text font-weight-700 text-transform-uppercase display-table margin-two-bottom">Budget Control</span>HRM module uses financial information, performance results and historical data from every department. So it helps organizations understand their staffing needs and also prevents understaffing and over hiring.</div>
				</li>
			</ul>
		</div>
	</div>
	</div>
	<div class="clearfix"></div>
</section>


<section class="padding-three hback1">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 col-sm-12">
				<span class="text-large letter-spacing-2 black-text font-weight-600 agency-title">What Loence ERP "Human Resource Management" Module Provides</span>
			</div>
			<!-- end section title -->

		</div>
	</div>
</section>

<section class="no-padding-bottom">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-md-12 text-center">
				<span class="title-med text-uppercase font-weight-600 letter-spacing-3 black-text display-block">Adventure is Everywhere</span>
			</div>
			<!-- end section title -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row margin-five no-margin-bottom">
			<!-- adventure item -->
			<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
				<a href="/human-resource-management/employee-management.html"><img src="/assets/images/hrm/hrmabout.jpg" alt=""/></a>
				<a href="/human-resource-management/employee-management.html"><figure class="text-large letter-spacing-3 white-text">Employee management</figure></a>
			</div>
			<!-- end adventure item -->
			<!-- adventure item -->
			<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
				<a href="/human-resource-management/time-tracking-and-attendance.html"><img src="/assets/images/hrm/time2.jpg" alt=""/></a>
				<a href="/human-resource-management/time-tracking-and-attendance.html"><figure class="text-large letter-spacing-3 white-text">Time tracking and attendance system</figure></a>
			</div>
			<!-- end adventure item -->
			<!-- adventure item -->
			<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
				<a href="/human-resource-management/holiday-management.html"><img src="/assets/images/hrm/holiday.jpg" alt=""/></a>
				<a href="/human-resource-management/holiday-management.html"><figure class="text-large letter-spacing-3 white-text">Holiday management</figure></a>
			</div>
			<!-- end adventure item -->
			<!-- adventure item -->
			<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
				<a href="/human-resource-management/leave-toil-overtime-management.html"><img src="/assets/images/hrm/leave.jpg" alt=""/></a>
				<a href="/human-resource-management/leave-toil-overtime-management.html"><figure class="text-large letter-spacing-3 white-text">Leave, Toil, Overtime management </figure></a>
			</div>
			<!-- end adventure item -->
			<!-- adventure item -->
			<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
				<a href="/human-resource-management/scheduling-and-rostering.html"><img src="/assets/images/hrm/scheduling.jpg" alt=""/></a>
				<a href="/human-resource-management/scheduling-and-rostering.html"><figure class="text-large letter-spacing-3 white-text">Scheduling and Rostering </figure></a>
			</div>
			<!-- end adventure item -->
			<!-- adventure item -->
			<div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
				<a href="/human-resource-management/payroll-processing.html"><img src="/assets/images/hrm/payroll.jpg" alt=""/></a>
				<a href="/human-resource-management/payroll-processing.html"><figure class="text-large letter-spacing-3 white-text">Payroll processing</figure></a>
			</div>
			<!-- end adventure item -->
		</div>
	</div>
</section>
<%- include src/ejs/footer.partial.ejs %>
</body>

</html>
