<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>Loence Accounting- The best accounting software in Bangladesh</title>
    <meta name="description" content="Loence Human Resource Management system helps organizations to manage their
          people to achieve business objectives and maintain employee satisfaction. We offer customization, scalability,
          ease of use with moderate pricing and reliable support
    ">
    <link rel="stylesheet" href="/assets/css/custom-classes.css">
    <%- include ../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
    <div class="preloader">
        <img src="/assets/images/preloader.gif" alt="Preloader">
    </div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
    <%- include ../modules-leftbar.partial.ejs %>

    <div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
        <aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky
               data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
            <h4 class="toc-submenu">HRM Features</h4>
            <ul class="nav nav-list flex-column mb-4 show-bg-active">
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#journal">Journal</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#ledger">Ledger</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#chart-of-accounts">Chart of Accounts</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#accounts-payable">Accounts Payable</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#accounts-receivable">Accounts Receivable</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#asset-management">Asset Management</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#financial-statements">Financial Statements</a></li>
                <li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95"
                                                href="#point-of-sale">Point of Sale</a></li>
            </ul>
        </aside>
    </div>


    <div class="col-md-7 col-sm-7 col-xs-12 mob-padding">
        <section id="project-img" class="no-padding module-content-top-margin">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center half-project-img wow fadeInDown module-half-project-img"
                         style="background-image:url('/assets/images/accounting.jpg');">
                        <div class="opacity-medium bg-dark-gray"></div>
                        <div class="project-header-text">
                            <h1 class="project-title white-text">Loence Financial Accounting</h1>
                            <b class="white-text">The best accounting software in Bangladesh</b>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="usermanual-sub-header">What is Accounting?</h2>
        <p class="usermanual-p">
            An accounting system allows a business to keep track of all types of financial
            transactions, including purchases (expenses), sales (invoices and income),
            liabilities (funding, accounts payable), etc. and is capable of generating
            comprehensive statistical reports that provide management or interested parties
            with a clear set of data to aid in the decision-making process
        </p>

        <h2 class="usermanual-sub-header">Features of Loence Financial Accounting</h2>
        <p class="usermanual-p">
            We offer a customizable, scalable and easy to use proficient financial accounting solution with
            reliable support in Bangladesh. Following is a list of features-
        </p>
        <h2 class="usermanual-sub-header-2" id="journal">Journal</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-355">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">General Journal</h2>
                                        <p class="custom-p">When a financial event occurs it's automatically recorded in
                                            the general journal. You can see a details log of events from here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-355">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Transaction Approval</h2>
                                        <p class="custom-p">Events affecting certain accounting can be subjected to
                                            approval before processing. And its configurable.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-300">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Adjusting Entries</h2>
                                        <p class="custom-p">
                                            We offer a intelligent adjusting entry interface where you don't need to be
                                            an accounting expert to journalize an entry.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-300">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Automatic Journalization</h2>
                                        <p class="custom-p">
                                            Most of the economic events if not all are journalized automatically.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <h2 class="usermanual-sub-header-2" id="ledger">Ledger</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">General Ledger</h2>
                                        <p class="custom-p modulecard-p">A general ledger contains all the accounts for
                                            recording transactions relating to a company's assets, liabilities, owners'
                                            equity, revenue, and expenses.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Custom Ledger</h2>
                                        <p class="custom-p modulecard-p">You can maintain custom ledger for supplier,
                                            customer, employee or any economic entity</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="chart-of-accounts">Chart Of Accounts</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Account Charts</h2>
                                        <p class="custom-p modulecard-p">The chart of accounts is a listing of all
                                            accounts used in the general ledger of an organization. You can add new
                                            accounts easily.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Trial Balance</h2>
                                        <p class="custom-p modulecard-p">You can see a point in time trial balance from
                                            account list.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="accounts-payable">Accounts Payable</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Vouchers</h2>
                                        <p class="custom-p modulecard-p">Manage all your vouchers from a single list. Print vouchers as necessary.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payment</h2>
                                        <p class="custom-p modulecard-p">Make payment on your vouchers use one of the payment methods (cash, cheque, bank, lc) and print receipt.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Credit Limit Notification</h2>
                                        <p class="custom-p modulecard-p">Get notified if a voucher payment has met the credit limit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="accounts-receivable">Accounts Receivable</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">360 Feedback</h2>
                                        <p class="custom-p modulecard-p">This involves getting feedback about employees
                                            from their peers, subordinates, supervisor and customers who have interacted
                                            during the period.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Goal Setting and Progress Tracking</h2>
                                        <p class="custom-p modulecard-p">With customized set of key performance
                                            indicators, managers can set performance goals for employees and track their
                                            progress with visual and comparative reporting.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Behavioral Rating</h2>
                                        <p class="custom-p modulecard-p">Managers can assess and report behavioral
                                            rating for an employee after a specific observation period.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Learning and Professional Development</h2>
                                        <p class="custom-p modulecard-p">Our learning management system enable you to
                                            document, track and report educational courses, training programs,
                                            competency test of personnel.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>


        <h2 class="usermanual-sub-header-2" id="asset-management">Asset Management</h2>
        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payroll Sheet</h2>
                                        <p class="custom-p modulecard-p">A payroll sheet is generated automatically
                                            calculating attendance, compensation, rewards, advance salary, meal charge,
                                            HR loan and other factors. You can print the payroll sheet and export as
                                            excel sheet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payroll Approval</h2>
                                        <p class="custom-p modulecard-p">Admins can check and correct the salary sheet.
                                            If the salary sheet is ready authority can approve payroll for the
                                            particular month.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Salary Disbursement</h2>
                                        <p class="custom-p modulecard-p">After the salary is approved by authority,
                                            salary disbursement comes into play. You can pay with cash, bank or cheque.
                                            Our bulk disbursement feature helps to disburse multiple salary at once.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payroll Accounting</h2>
                                        <p class="custom-p modulecard-p">Payroll accounting entries are automatically
                                            journalized and due salary are converted to payable vouchers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Salary Slip and Vouchers</h2>
                                        <p class="custom-p modulecard-p">Salary slips and vouchers are always ready to
                                            print</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Payroll Summary</h2>
                                        <p class="custom-p modulecard-p">A comprehensive summary of payroll is presented
                                            with sophisticated visual representation. You can browse payroll history and
                                            perform comparison among payroll periods.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <h2 class="usermanual-sub-header-2" id="point-of-sale">Point of Sale</h2>

        <div class="col-md-12 no-padding-left no-padding-right">
            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Employee Information</h2>
                                        <p class="custom-p modulecard-p">View and update personal information,
                                            educational
                                            information, contact information, photos and documents are managed
                                            efficiently. Some updates are subjected to approval from higher
                                            authorities.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-270">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Monitor Financial Details</h2>
                                        <p class="custom-p modulecard-p">Employees can monitor benefits, compensation,
                                            rewards, loan, expense or other financial details from self service
                                            portal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Requesting and Reporting</h2>
                                        <p class="custom-p modulecard-p">This features enables employees to request paid
                                            time off, unpaid leaves, toil or overtime.
                                            They can report expenses and other activities from the portal </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Surveys, Review and Feedback</h2>
                                        <p class="custom-p modulecard-p">Employees can participate in surveys and
                                            reviews. They can access the 360 feedback system from the self service
                                            portal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="">
                <div class="col-md-6 mobile-no-padding">
                    <section class="pt0 pb30 " style="background: #fafdff; padding: 0px 0px;">
                        <div class="col-container">
                            <div class=" pt30">
                                <div class="tour-cate-box-module box-min-height-200">
                                    <div class="col-md-12 col-xs-12 text-left">
                                        <h2 class="modulecard-sub-header-2">Access to resource, policies, notices and
                                            schedules</h2>
                                        <p class="custom-p modulecard-p">
                                            Employee can view schedules, notifications or announcements logging in to
                                            the ESS. The have access to shared handbooks, policies and other resources.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
    <!-- end col -->
</div>

<%- include ../footer.partial.ejs %>
</body>

</html>
