<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<!-- col -->
	<div class="col-md-3 col-sm-4 mobile-displaynone">
		<!-- toggle -->
		<div class="panel-group toggles-style2 usermanual-panel-fixed">
			<div class="panel panel-default">
				<div  id="type2-headingOne" class="panel-heading usermanual-panel">
					<h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
				</div>
			</div>
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link1"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Human Resource Management<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link1" class="panel-collapse collapse in">
					<div class="panel-body usermanual-panelbody">
						<a class="usermanual-hover" href=""><h5 class="sub-manu-2nd">Payroll</h5></a>
						<a class="usermanual-hover" href=""><h5 class="sub-manu-2nd">abc</h5></a>
					</div>
				</div>
			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default">
				<div role="tablist" id="type2-headingTwo" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link2"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Collapse Item #2<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link2" class="panel-collapse collapse">
					<div class="panel-body usermanual-panelbody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</div>
				</div>
			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default">
				<div role="tablist" id="type2-headingThree" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link3"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Collapse Item #3<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link3" class="panel-collapse collapse">
					<div class="panel-body usermanual-panelbody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</div>
				</div>
			</div>
			<!-- end toggle item -->
		</div>
		<!-- end toggle -->
	</div>
	<!-- end col -->
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewemployee">To view employee information</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#createemployee">To create an employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#editemployee">To edit employee information</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#upadtemealemployee">To update meal information of employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#transferemployee">To transfer employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#promoteemployee">To promote employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#terminateemployee">To terminate employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#revokeemployee">To revoke assignment</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#resetpasswordemployee">To reset password for any employee username</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#printidemployee">To print ID card</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7">
		<h2 class="usermanual-sub-header">Human Resource Management</h2>
		<h2 class="usermanual-sub-header-2">Payroll Management</h2>
		<p class="usermanual-p font-weight-600" id="viewemployee">To view attendance sheet and attendance calendar</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Payroll page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/payroll-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of payroll of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/payroll-management/2.png" alt=""/>

			<li class="usermanual-li">To view more employees, change Items per page or go to the next page by clicking on Next page icon.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Search employees using name or employee code.</li>
			<li class="usermanual-li">Use Payroll Sheet Filter to view particular branch or unit employees and payroll of other months.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/payroll-management/3.png" alt=""/>

			<li class="usermanual-li">Sort employees by name or email alphabetically and by employee code or mobile number numerically by clicking on the particular table head.</li>
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To add overtime</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Add Overtime.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Add Overtime window, click on the Calendar button on the right of Enter Overtime Date and choose the particular date. By default, the date shown will be current date. On the Enter Overtime Hours field, type the hours of overtime.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/8.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process.</li>
			
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To grant leave</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Grant Leave option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Grant Leave window, click on the Calendar button on the right of Select Dates and choose the particular date. You can choose multiple dates for this operation. Type down the purpose of leave in Add Reason field.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/9.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process.</li>
			
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To cancel leave</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Cancel Leave option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Cancel Leave window, click on the Calendar button on the right of Select Dates and choose the particular date. You can choose multiple dates for this operation. Type down the purpose of leave in Add Reason field.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/10.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process.</li>
			
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To shift attendance</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Shift Attendance option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Shift Attendance window, select Original Date and Target Date using the calendar on the right of respective field.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/11.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process.</li>
			
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To enter attendance manually</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Entry Attendance option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Entry Attendance window, click on the Calendar button on the right of Select Dates and choose the particular date. You can choose multiple dates for this operation.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/12.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process.</li>
			
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To add toil</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Add Toil option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Add Toil window, click on the Calendar button on the right of Select Dates and choose the particular date. You can choose multiple dates for this operation.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/13.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process.</li>
			
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To add attendance penalty</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Penalty option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Add Penalty window, click on the Calendar button on the right of Select Dates and choose the particular date. You can choose multiple dates for this operation. Type down the purpose of leave in Add Reason field.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/14.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process.</li>
			
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To update meal number of any employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Update Meal option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Update Meal window, choose month using Calendar button. Type down the number of meals you wish to add or deduct from its original value. Use negative value for deduction.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/15.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process.</li>
			
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To export attendance of any employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, find desired employee with search option, filter, sort or changing items per page and click on the checkbox at the left of particular employee. You can select multiple employees for this operation. To select all the employees in the list, click on the checkbox at the left of Name table head. To deselect any employee, click on the checkbox at the left of particular employee. You can search for employees manually in the search box using name or employee code.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/7.png" alt=""/>

			<li class="usermanual-li">Click on More Options button and select Export Attendance option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">In Export Employee Data window, Choose From Date and To Date using Calendar button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/14.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button. A success message will be shown after completing process and an excel file will be downloaded automatically.</li>
			
		</ol>


		<p class="usermanual-p font-weight-600"></p>
		<p class="usermanual-p font-weight-600"></p>

		<h2 class="usermanual-sub-header-2" id="second">Second Level</h2>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>
		<ol class="usermanual-ol">
			<li class="usermanual-li">Click the <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click the Administration section and then Branches page.</li>
			<li class="usermanual-li">Click the Create button.</li>
		</ol>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
