<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<!-- col -->
	<div class="col-md-3 col-sm-4 mobile-displaynone">
		<!-- toggle -->
		<div class="panel-group toggles-style2 usermanual-panel-fixed">
			<div class="panel panel-default">
				<div  id="type2-headingOne" class="panel-heading usermanual-panel">
					<h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
				</div>
			</div>
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link1"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Human Resource Management<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link1" class="panel-collapse collapse in">
					<div class="panel-body usermanual-panelbody">
						<a class="usermanual-hover" href=""><h5 class="sub-manu-2nd">Payroll</h5></a>
						<a class="usermanual-hover" href=""><h5 class="sub-manu-2nd">abc</h5></a>
					</div>
				</div>
			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default">
				<div role="tablist" id="type2-headingTwo" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link2"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Collapse Item #2<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link2" class="panel-collapse collapse">
					<div class="panel-body usermanual-panelbody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</div>
				</div>
			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default">
				<div role="tablist" id="type2-headingThree" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link3"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Collapse Item #3<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link3" class="panel-collapse collapse">
					<div class="panel-body usermanual-panelbody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</div>
				</div>
			</div>
			<!-- end toggle item -->
		</div>
		<!-- end toggle -->
	</div>
	<!-- end col -->
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewemployee">To view employee information</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#createemployee">To create an employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#editemployee">To edit employee information</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#upadtemealemployee">To update meal information of employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#transferemployee">To transfer employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#promoteemployee">To promote employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#terminateemployee">To terminate employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#revokeemployee">To revoke assignment</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#resetpasswordemployee">To reset password for any employee username</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#printidemployee">To print ID card</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7">
		<h2 class="usermanual-sub-header">Human Resource Management</h2>
		<h2 class="usermanual-sub-header-2">Attendance Management</h2>
		<p class="usermanual-p font-weight-600" id="viewemployee">To view attendance sheet and attendance calendar</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Attendance page.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employee attendance details.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/2.png" alt=""/>

			<li class="usermanual-li">To view instant attendance, from More Options, select Start Pulling. A success message will be shown after this successful process. It may take a few moments.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/attendance-management/3.png" alt=""/>

			<li class="usermanual-li">Click on different tabs to view more related information.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/4.png" alt=""/>

			<li class="usermanual-li">To view more employees, change Items per page or go to the next page by clicking on the Next page icon.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Search employees using name, employee code or email id.</li>
			<li class="usermanual-li">Use Employee Filter to view particular branch or unit employees.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/5.png" alt=""/>

			<li class="usermanual-li">Sort employees by name or email alphabetically and by employee code or mobile number numerically by clicking on the particular table head.</li>
		</ol>

		<p class="usermanual-p font-weight-600" id="createemployee">To create an employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Click on Create button.</li>
			<li class="usermanual-li">In Basic Info page, fill in necessary information (* marked fields are required. But it is highly recommended to provide all information.). The email id that is provided here is required to log in to the software. Then click Next button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/6.png" alt=""/>

			<li class="usermanual-li">In Company Info page, employee code will be automatically assigned depending on the number of employees previously created. Provide salary and remuneration information. Entry and exit hour time is counted as 24-hour clock. Select type of employee i.e. permanent, residential etc. by checking their corresponding box. Click on Next button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/7.png" alt=""/>

			<li class="usermanual-li">In Personal Info page, provide personal information. You can skip filling in these information but it is highly recommended to provide all information. Click on Next button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/8.png" alt=""/>

			<li class="usermanual-li">In Upload Document page, upload profile picture or identity card (National ID card) either by clicking on SELECT IMAGE and directing to desired image or selecting an image, drag it to Drop your image here area. If you don’t have any picture to upload, click Skip otherwise Click on Next button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/9.png" alt=""/>

			<li class="usermanual-li">In Assign page, assign employee to particular branch, unit and position. Email is the email which is provided in Basic Info window. Choose password for ERP software. If you don’t fill the password field, the password for the email will be 12345 by default. Click on Next button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/10.png" alt=""/>

			<li class="usermanual-li">In Review page, information that was provided earlier is to review to make sure those information are correct. Finally, Click on Finish button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/11.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600" id="editemployee">To edit employee information</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, click on the particular employee to view more information. Click on different tabs to view more related information.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/3.png" alt=""/>

			<li class="usermanual-li">Click on Edit Information button.</li>
			<li class="usermanual-li">Click on different tabs to view more related information.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/12.png" alt=""/>

			<li class="usermanual-li">Edit necessary information.</li>
			<li class="usermanual-li">Click on Next button and finally Update button to complete the process.</li>
		</ol>

		<p class="usermanual-p font-weight-600" id="upadtemealemployee">To update meal information of employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the same line and select Update Meal option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Update Meal window, select or deselect corresponding boxes.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/14.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button.</li>
		</ol>

		<p class="usermanual-p font-weight-600" id="transferemployee">To transfer employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the same line and select Transfer option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Transfer Employee window, select desired branch, unit and position.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/15.png" alt=""/>

			<li class="usermanual-li">Click on Confirm button.</li>
		</ol>

		<p class="usermanual-p font-weight-600" id="promoteemployee">To promote employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the same line and select Promote option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">Change salary information and other allowances in new window.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/16.png" alt=""/>

			<li class="usermanual-li">Click on Promote button.</li>
		</ol>

		<p class="usermanual-p font-weight-600" id="terminateemployee">To terminate employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the same line and select Terminate option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Terminate Employee window, click on Confirm button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/17.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600" id="revokeemployee">To revoke assignment</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the same line and select Revoke Assignment option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Revoke Assignment window, click on Confirm button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/18.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600" id="resetpasswordemployee">To reset password for any employee username</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the same line and select Reset Password option</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Reset Password window, click on Confirm button. (New password will be 12345)</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/19.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600" id="printidemployee">To print ID card</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Employees page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on More Options button on the same line and select ID Card option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In new window, click on Download button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/19.png" alt=""/>

			<li class="usermanual-li">Open downloaded file.</li>
			<li class="usermanual-li">Select Print option and choose various settings for printer options.</li>


		</ol>

		<p class="usermanual-p font-weight-600"></p>
		<p class="usermanual-p font-weight-600"></p>

		<h2 class="usermanual-sub-header-2" id="second">Second Level</h2>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>
		<ol class="usermanual-ol">
			<li class="usermanual-li">Click the <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click the Administration section and then Branches page.</li>
			<li class="usermanual-li">Click the Create button.</li>
		</ol>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
