<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<%- include ../user-manual-leftbar.partial.ejs %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewemployee">To view employee information</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#createemployee">To create an employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#editemployee">To edit employee information</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#upadtemealemployee">To update meal information of employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#transferemployee">To transfer employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#promoteemployee">To promote employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#terminateemployee">To terminate employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#revokeemployee">To revoke assignment</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#resetpasswordemployee">To reset password for any employee username</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#printidemployee">To print ID card</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Human Resource Management</h2>
		<h2 class="usermanual-sub-header-2">Employee Management</h2>
		<p class="usermanual-p font-weight-600 margin-top-30" id="viewemployee">To view employee information</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, click on the particular employee to view more information.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/3.png" alt=""/>

			<li class="usermanual-li">Click on different tabs to view more related information.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/4.png" alt=""/>

			<li class="usermanual-li">To view more employees, change <b>Items per page</b> or go to the next page by clicking on the <b>Next page</b> icon.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Search employees using name, employee code or email id.</li>
			<li class="usermanual-li">Use <b>Employee Filter</b> to view particular branch or unit employees.</li>
		<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/5.png" alt=""/>

			<li class="usermanual-li">Sort employees by name or email alphabetically and by employee code or mobile number numerically by clicking on the particular table head.</li>
		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="createemployee">To create an employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Click on <b>Create</b> button.</li>
			<li class="usermanual-li">In Basic Info page, fill in necessary information (* marked fields are required. But it is highly
				recommended to provide all information.). The email id that is provided here is required to log in to the software.
				Then click <b>Next</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/6.png" alt=""/>

			<li class="usermanual-li">In Company Info page, employee code will be automatically assigned depending on the number of employees previously created. Provide salary and remuneration information. Entry and exit hour time is counted as 24-hour clock. Select type of employee i.e. permanent, residential etc. by checking their corresponding box. Click on <b>Next</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/7.png" alt=""/>

			<li class="usermanual-li">In Personal Info page, provide personal information. You can skip filling in these information but it is highly recommended to provide all information. Click on <b>Next</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/8.png" alt=""/>

			<li class="usermanual-li">In Upload Document page, upload profile picture or identity card (National ID card) either by clicking on <b>SELECT IMAGE</b> and directing to desired image or selecting an image, drag it to <b>Drop your image here</b> area. If you don’t have any picture to upload, click <b>Skip</b> otherwise Click on <b>Next</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/9.png" alt=""/>

			<li class="usermanual-li">In Assign page, assign employee to particular branch, unit and position. Email is the email which is provided in Basic Info window. Choose password for ERP software. If you don’t fill the password field, the password for the email will be 12345 by default. Click on <b>Next</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/10.png" alt=""/>

			<li class="usermanual-li">In Review page, information that was provided earlier is to review to make sure those information are correct. Finally, Click on <b>Finish</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/11.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="editemployee">To edit employee information</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">From the list, click on the particular employee to view more information. Click on different tabs to view more related information.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/3.png" alt=""/>

			<li class="usermanual-li">Click on <b>Edit Information</b> button.</li>
			<li class="usermanual-li">Click on different tabs to view more related information.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/12.png" alt=""/>

			<li class="usermanual-li">Edit necessary information.</li>
			<li class="usermanual-li">Click on <b>Next</b> button and finally <b>Update</b> button to complete the process.</li>
		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="upadtemealemployee">To update meal information of employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the same line and select <b>Update Meal</b> option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Update Meal window, select or deselect corresponding boxes.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/14.png" alt=""/>

			<li class="usermanual-li">Click on <b>Confirm</b> button.</li>
		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="transferemployee">To transfer employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the same line and select <b>Transfer</b> option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Transfer Employee window, select desired branch, unit and position.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/15.png" alt=""/>

			<li class="usermanual-li">Click on <b>Confirm</b> button.</li>
		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="promoteemployee">To promote employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the same line and select <b>Promote</b> option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">Change salary information and other allowances in new window.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/16.png" alt=""/>

			<li class="usermanual-li">Click on <b>Promote</b> button.</li>
		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="terminateemployee">To terminate employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the same line and select <b>Terminate</b> option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Terminate Employee window, click on <b>Confirm</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/17.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="revokeemployee">To revoke assignment</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the same line and select <b>Revoke Assignment</b> option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Revoke Assignment window, click on <b>Confirm</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/18.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="resetpasswordemployee">To reset password for any employee username</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the same line and select <b>Reset Password</b> option</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In Reset Password window, click on <b>Confirm</b> button. (New password will be 12345)</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/19.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600 margin-top-30" id="printidemployee">To print ID card</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>Employees</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of employees.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item%20per%20page.png" alt=""/>

			<li class="usermanual-li">Click on <b>More Options</b> button on the same line and select <b>ID Card</b> option.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/13.png" alt=""/>

			<li class="usermanual-li">In new window, click on <b>Download</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/employee-management/19.png" alt=""/>

			<li class="usermanual-li">Open downloaded file.</li>
			<li class="usermanual-li">Select <b>Print</b> option and choose various settings for printer options.</li>
		</ol>
	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
