<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../../navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">
	<!-- col -->
	<div class="col-md-3 col-sm-4 mobile-displaynone">
		<!-- toggle -->
		<div class="panel-group toggles-style2 usermanual-panel-fixed">
			<div class="panel panel-default">
				<div  id="type2-headingOne" class="panel-heading usermanual-panel">
					<h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
				</div>
			</div>
			<!-- toggle item -->
			<div class="panel panel-default active" id="collapse-two">
				<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link1"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Human Resource Management<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link1" class="panel-collapse collapse in">
					<div class="panel-body usermanual-panelbody">
						<a class="usermanual-hover" href=""><h5 class="sub-manu-2nd">Payroll</h5></a>
						<a class="usermanual-hover" href=""><h5 class="sub-manu-2nd">abc</h5></a>
					</div>
				</div>
			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default">
				<div role="tablist" id="type2-headingTwo" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link2"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Collapse Item #2<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link2" class="panel-collapse collapse">
					<div class="panel-body usermanual-panelbody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</div>
				</div>
			</div>
			<!-- end toggle item -->
			<!-- toggle item -->
			<div class="panel panel-default">
				<div role="tablist" id="type2-headingThree" class="panel-heading usermanual-panel">
					<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link3"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Collapse Item #3<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4></a>
				</div>
				<div id="collapse-two-link3" class="panel-collapse collapse">
					<div class="panel-body usermanual-panelbody">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</div>
				</div>
			</div>
			<!-- end toggle item -->
		</div>
		<!-- end toggle -->
	</div>
	<!-- end col -->
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewemployee">To view employee information</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#createemployee">To create an employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#editemployee">To edit employee information</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#upadtemealemployee">To update meal information of employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#transferemployee">To transfer employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#promoteemployee">To promote employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#terminateemployee">To terminate employee</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#revokeemployee">To revoke assignment</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#resetpasswordemployee">To reset password for any employee username</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#printidemployee">To print ID card</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7">
		<h2 class="usermanual-sub-header">Human Resource Management</h2>
		<h2 class="usermanual-sub-header-2">Holiday Management</h2>

		<p class="usermanual-p font-weight-600" id="viewemployee">To view holiday</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Holidays page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/1.png" alt=""/>

			<li class="usermanual-li">The current month calendar will be displayed by default and the current date will be highlighted in the current month calendar. </li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/2.png" alt=""/>

			<li class="usermanual-li">Use left button on the left of month and year to view previous month’s calendar and use right button on the right of month and year to view next month’s calendar.</li>
			<li class="usermanual-li">If you want to view current month’s calendar, click on Today button on the right side of the page.</li>
			<li class="usermanual-li">Holidays is to be marked in the calendar. Move cursor on the marked day to view details about particular holiday.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/3.png" alt=""/>

		</ol>

		<p class="usermanual-p font-weight-600" id="viewemployee">To add event</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Holidays page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/1.png" alt=""/>

			<li class="usermanual-li">The current month calendar will be displayed by default. Use left button on the left of month and year to view previous month’s calendar and use right button on the right of month and year to view next month’s calendar. </li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/2.png" alt=""/>

			<li class="usermanual-li">Click on the date in the calendar that you want to add event.</li>
			<li class="usermanual-li">In Add Event window, type down event title in ‘Event Title’ box. Event date will be the date you chose earlier. Use Calendar button to change event date. Type down description in ‘Comments’ box. Click on Save button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/4.png" alt=""/>

			<li class="usermanual-li">Click on Save button.</li>
		</ol>
		
		<p class="usermanual-p font-weight-600" id="viewemployee">To edit event</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Holidays page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/1.png" alt=""/>

			<li class="usermanual-li">The current month calendar will be displayed by default. Use left button on the left of month and year to view previous month’s calendar and use right button on the right of month and year to view next month’s calendar. </li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/2.png" alt=""/>

			<li class="usermanual-li">Click on the date in the calendar that you want to edit.</li>
			<li class="usermanual-li">In new window, click on Edit button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/5.png" alt=""/>

			<li class="usermanual-li">Edit necessary information. Click on Save button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/6.png" alt=""/>

			<li class="usermanual-li">Click on Save button.</li>
		</ol>

		<p class="usermanual-p font-weight-600" id="viewemployee">To delete event</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on HRM section and then Holidays page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/1.png" alt=""/>

			<li class="usermanual-li">The current month calendar will be displayed by default. Use left button on the left of month and year to view previous month’s calendar and use right button on the right of month and year to view next month’s calendar. </li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/2.png" alt=""/>

			<li class="usermanual-li">Click on the date in the calendar that you want to delete.</li>
			<li class="usermanual-li">In new window, click on Delete button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/holiday-management/5.png" alt=""/>

			<li class="usermanual-li">Click on Delete button.</li>
			<li class="usermanual-li">Click on Save button.</li>
		</ol>
		
		


		<p class="usermanual-p font-weight-600"></p>
		<p class="usermanual-p font-weight-600"></p>

		<h2 class="usermanual-sub-header-2" id="second">Second Level</h2>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>
		<ol class="usermanual-ol">
			<li class="usermanual-li">Click the <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click the Administration section and then Branches page.</li>
			<li class="usermanual-li">Click the Create button.</li>
		</ol>
		<img class="img-responsive usermanual-img" src="/assets/images/fa/invoice.jpg" alt=""/>

	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
