<!doctype html>
<html class="no-js" lang="en">

<head>
	<title>Loence ERP Solution</title>
	<meta name="description" content="A Bangladeshi ERP solution provider company serving consultancy, software and training to trading, manufacturing and service businesses of all size.
	Being a cloud application Loence ERP requires minimal infrastructure and affordable budget.">
	<%- include ../../header.partial.ejs %>

</head>

<body class="page-preloading bodystyle">
<!-- Page Pre-Loader -->
<div class="page-preloader">
	<div class="preloader">
		<img src="/assets/images/preloader.gif" alt="Preloader">
	</div>
</div>
<!-- .page-preloader -->
<!-- navigation panel -->
<%- include ../user-manual-navigation.partial.ejs %>

<!-- row -->
<div class="row usermanual-body">

	<%- include('../user-manual-leftbar.partial.ejs', {activeSection: 'HRM'}) %>
	<!-- col -->
	<div class="col-md-2 col-sm-2 mobile-displaynone" style="float: right;">
		<aside class="sidebar usermanual-rightbar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
			<h4 class="toc-submenu">Contents</h4>
			<ul class="nav nav-list flex-column mb-4 show-bg-active">
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#viewloan">To view HR loans</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#createloan">To create HR loan</a></li>
				<li class="nav-item umrlist"><a class="nav-link inner-link" data-hash data-hash-offset="95" href="#returnloan">To return loan amount from employee</a></li>
			</ul>
		</aside>
	</div>

	<div class="col-md-7 col-sm-7 mob-padding">
		<h2 class="usermanual-sub-header">Human Resource Management</h2>
		<h2 class="usermanual-sub-header-2">HR Loan Management</h2>

		<p class="usermanual-p font-weight-600" id="viewloan">To view HR loans</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>HR Loans</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/hr-loan-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of HR loans previously granted and their status.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/hr-loan-management/2.png" alt=""/>

			<li class="usermanual-li">To view more items, change <b>Items per page</b> or go to the next page by clicking on the <b>Next page</b> icon.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Use <b>Loan Filter</b> to view particular branch, employees, status or type.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/hr-loan-management/3.png" alt=""/>

			<li class="usermanual-li">Sort employees by date and amount of loan by clicking on respective table head.</li>
		</ol>

		<p class="usermanual-p font-weight-600" id="createloan">To create HR loan</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>HR Loans</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/hr-loan-management/1.png" alt=""/>

			<li class="usermanual-li">Click on <b>Create</b> button.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/hr-loan-management/4.png" alt=""/>

			<li class="usermanual-li">Select employee from the list or by searching using name or employee code.</li>
			<li class="usermanual-li">Choose <b>Return Policy</b>.</li>
			<li class="usermanual-li">Type down loan amount and monthly return amount. (Monthly return amount will be disabled for irregular return policy)</li>
			<li class="usermanual-li">Choose referrer of the loan either from the list or by searching name or employee code.</li>
			<li class="usermanual-li">Click on <b>Grant Loan</b> button.</li>

		</ol>

		<p class="usermanual-p font-weight-600" id="returnloan">To return loan amount from employee</p>

		<ol class="usermanual-ol">
			<li class="usermanual-li">Click on <b>Collapse Menu</b> button.</li>
			<li class="usermanual-li">Click on <b>HRM</b> section and then <b>HR Loans</b> page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/hr-loan-management/1.png" alt=""/>

			<li class="usermanual-li">Get a list of HR loans previously granted and their status.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/hr-loan-management/2.png" alt=""/>

			<li class="usermanual-li">Find desired employee either by searching, sorting, filtering or changing items per page.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/item per page.png" alt=""/>

			<li class="usermanual-li">Click on <b>Return</b> button under Options table head. (Return option will not be available for ‘From Salary’ return policy)</li>
			<li class="usermanual-li">In Return Loan window, type down the amount of return money.</li>
			<img class="img-responsive usermanual-img" src="/assets/images/user-manual/hrm/hr-loan-management/5.png" alt=""/>

			<li class="usermanual-li">Click on <b>Confirm</b> button.</li>
		</ol>


	</div>
	<!-- end col -->
</div>

<%- include ../../footer.partial.ejs %>
</body>

</html>
